  <form name="Form" class="form-inline">
    <div class="row">
     <div class="col-lg-12">
       <div class="panel panel-default">
         <div class="panel-body">
           <div class="row">
             <div class="col-md-12">
               <div class="form-inline">
                 <label class="control-label">Perfil de Acesso:</label>
                 <p-dropdown class="bootstrap-iso" id="perfil" [options]="listaPerfis" (onChange)="consultarPermissoes()"  [(ngModel)]="idPerfilSelecionado" 
                 [filter]="true" [style]="{'width':'250px'}" ></p-dropdown>
                 <a type="button" class="inset btn-primary" (click)="showDialog()">Novo</a>
               </div>
             </div>
           </div>
         </div>
       </div>
     </div>
   </div>

   <div class="row" *ngIf="mostrarLista">
     <div class="col-lg-12">
      <table class="table table-striped" >
       <thead>
        <tr> 
          <th class="col-md-3 titulo">Páginas</th>
          <th>
            <p-checkbox ngControl="true" (onChange)="selecionarTodosVisualizar($event)"></p-checkbox> 
            <label class="color-txt-b3">Visualizar</label>
          </th>
          <th> 
            <p-checkbox ngControl="true" (onChange)="selecionarTodosSalvar($event)"></p-checkbox> 
            <label class="color-txt-b3">Salvar</label>
          </th>
          <th>
            <p-checkbox ngControl="true" (onChange)="selecionarTodosRemover($event)"></p-checkbox> 
            <label class="color-txt-b3">Remover</label>
          </th>
          <th>
            <p-checkbox ngControl="true" (onChange)="selecionarTodosEditar($event)"></p-checkbox> 
            <label class="color-txt-b3">Editar</label>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let menu of listaSelecionados" >
          <td class="titulo">{{ menu.nomePagina }}</td>
          <td>
            <div class="checkbox">
              <input type="checkbox" class="checkbox" [checked]="menu.visualizar" ngControl="true" [(ngModel)]="menu.visualizar"/>
            </div> 
            <!--<p-inputSwitch ngControl="true" onLabel="Sim" offLabel="Não" [(ngModel)]="menu.visualizar"></p-inputSwitch> -->
          </td>
          <td> 
            <div class="checkbox">
              <input type="checkbox" class="checkbox" [checked]="menu.inserir" ngControl="true" [(ngModel)]="menu.inserir"/>
            </div> 
            <!-- <p-checkbox ngControl="true" [(ngModel)]="menu.inserir"></p-checkbox> -->
            <!--<p-inputSwitch ngControl="true" onLabel="Sim" offLabel="Não" [(ngModel)]="menu.inserir"></p-inputSwitch>-->
          </td>
          <td> 
            <div class="checkbox">
              <input type="checkbox" class="checkbox" [checked]="menu.excluir" ngControl="true" [(ngModel)]="menu.excluir"/>
            </div> 
            <!-- <p-checkbox ngControl="true" [(ngModel)]="menu.excluir"></p-checkbox> -->
            <!--<p-inputSwitch ngControl="true" onLabel="Sim" offLabel="Não" [(ngModel)]="menu.excluir"></p-inputSwitch>inputSwitch>-->
          </td>
          <td> 
            <div class="checkbox">
              <input type="checkbox" class="checkbox" [checked]="menu.editar" ngControl="true" [(ngModel)]="menu.editar"/>
            </div> 
            <!-- <p-checkbox ngControl="true" [(ngModel)]="menu.editar"></p-checkbox> -->
            <!--<p-inputSwitch ngControl="true" onLabel="Sim" offLabel="Não" [(ngModel)]="menu.editar"></p-inputSwitch>inputSwitch>-->
          </td>
        </tr>
      </tbody>
    </table>

    <div class="row">
      <div class="col-md-12">
        <center>
          <button type="submit" class="btn btn-primary" (click)="salvar($event)" *ngIf="_loginService.getPermissao().inserir">Salvar</button>
          <!-- <button class="btn btn-danger" (click)="remover()">Remover</button> -->
          <!-- <button class="btn btn-default">Limpar</button> -->
        </center>
      </div>
    </div>

    <!-- <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
      <button type="submit" md-raised-button class="md-raised md-primary" (click)="salvar($event)">Salvar</button>
      <button md-raised-button class="md-raised md-warn" (click)="remover()">Remover</button>
      <button md-raised-button class="md-raised">Limpar</button>
    </section> -->
  </div>
</div>
</form>


<p-dialog header="Cadastro de Perfil" [(visible)]="mostrarDialog" modal="modal" showEffect="fade" closable="false" width="450">
  <div class="row">
    <div class="col-md-12">
      <div class="form-inline">
        <label>Nome:</label>
        <input type="text" [(ngModel)]="perfilAcesso.nome" class="form-control" #input (input)="input.value=$event.target.value.toUpperCase()"/>
      </div>
    </div>
  </div>
  <footer>
    <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
     <button type="submit" class="btn btn-primary" (click)="salvarPerfil()">Salvar</button>
     <button class="btn btn-danger" (click)="mostrarDialog=false">Cancelar</button>
   </div>
 </footer>
</p-dialog>
