<form #cotacaoForm="ngForm">
	<div class="row">
		<div class="col-md-12" >  
			<div class="panel panel-default">
				<div class="panel-heading">Cotação</div>
				<div class="panel-body"> 

					<!-- Tela 1 - Selecionar Produtos -->
					<div *ngIf="numTela == '1'"> 

						<div style="margin-top: 25px;float: right;">
							<button class="btn btn-success" [disabled]="!cotacaoForm.form.valid || !idNucleo || idNucleo == 0" (click)="chamarTela2()" >Salvar Produtos</button>
						</div>

						<div class="col-md-5" *ngIf="cotacao && cotacao.nucleo && !cotacao.nucleo.id">
							<label>Núcleo:</label> 
							<select class="form-control"  [disabled]="idEmpresa == 0" [(ngModel)]="idNucleo">
								<option *ngFor="let nuc of listaNucleo" [value]="nuc.value">{{nuc.label}}</option>
							</select>
						</div>

						<div class="row">
							<div class="form-group">
								<div class="col-md-3">
									<label for="comment">Data de Validade:</label>
									<custom-date dataValidator [disabled]="isEnviado" [(ngModel)]="cotacao.dataValidade" ngControl="dataVal" #dataVal="ngForm" required></custom-date>
									<div [hidden]="dataVal.valid || dataVal.pristine"
									class="alert alert-danger">Data de Validade é obrigatória e não pode ser menor do que a data de hoje!</div>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="form-group">
								<div class="col-md-8">
									<label for="comment">Descrição:</label>
									<textarea [disabled]="isEnviado" class="form-control" required rows="3" ngControl="descricaoStr" #descricaoStr="ngForm" [(ngModel)]="cotacao.descricao" #inputdesc (input)="inputdesc.value=$event.target.value.toUpperCase()"></textarea>
									<div [hidden]="descricaoStr.valid || descricaoStr.pristine"
									class="alert alert-danger">Descrição é obrigatório!</div>
								</div>
							</div>
						</div>

						<hr>

						<div class="row">
							<div class="form-group">
								<div class="col-md-6">
									<label>Filtrar</label>
									<input type="text" [(ngModel)]="filtroProduto" (ngModelChange)="filtrarProduto()" class="form-control" #input (input)="input.value=$event.target.value.toUpperCase()"/> 
								</div>	
							</div>	
						</div>

						<div style="margin-top: 15px;">	
							<div class="row">
								<div style="margin-left: 5px;">
									<h4>Produtos</h4>
								</div>
							</div>
							<div class="row">
								<div *ngFor="let prod of listaProdutos" class="col-md-3" style="margin-top: 5px;">
									<div class="checkbox">
										<label> 

											<input *ngIf="!prod.selecionado" [disabled]="isEnviado" type="checkbox" [(ngModel)]="prod.selecionado" (click)="selecionarProduto(prod)">

											<input *ngIf="prod.selecionado" [disabled]="isEnviado" type="checkbox" [(ngModel)]="prod.selecionado" (click)="desmarcarProduto(prod)">
											{{prod.nome}}
										</label>
									</div>
								</div>
							</div>
							<div style="margin-top: 25px;float: right;">
								<button class="btn btn-success" [disabled]="!cotacaoForm.form.valid || !idNucleo || idNucleo == 0" (click)="chamarTela2()" >Salvar Produtos</button>
							</div>
						</div>
					</div>
					<!-- FIM Tela 1 -->

					<!-- Tela 2 - Produtos Selecionados -->
					<div *ngIf="numTela == '2'"> 
						<div class="row">
							<div style="margin-top: 5px;float: left;margin-left: 10px;">
								<button class="btn btn-warning" (click)="voltarTela1()" >Voltar</button>
							</div>
							<div style="margin-top: 5px;float: right;margin-right: 10px;">
								<button class="btn btn-success" (click)="chamarTela3()">Selecionar Fornecedores</button>
							</div>
						</div>

						<div style="margin-top: 15px;">	

							<div class="row">
								<div style="margin-left: 5px;">
									<h4>Produtos Selecionados</h4>
								</div>
							</div>

							<div class="row">
								<div class="col-md-6 titulo">
									<div class="col-md-2">Qtd</div>
									<div class="col-md-10">Nome do produto</div>
								</div>
								<div class="col-md-6 titulo">
									<div class="col-md-2">Qtd</div>
									<div class="col-md-10">Nome do produto</div>
								</div>
								<div *ngFor="let ic of listaProdutosSelecionados" class="col-md-6 linha texto" style="margin-top: 0px;">
									<div class="col-md-2" style="padding-top: 10px;">
										<item-validacao-input [disabled]="isEnviado" colspan="col-md-12" [ic]="ic"></item-validacao-input>
									</div>
									<div class="col-md-10" >
										<label > {{ic.produto.nome}}</label>
									</div>
								</div>
							</div>
						</div>

						<div style="margin-top: 25px;float: left;">
							<button class="btn btn-warning" (click)="voltarTela1()" >Voltar</button>
						</div>
						<div style="margin-top: 25px;float: right;">
							<button class="btn btn-success" (click)="chamarTela3()">Selecionar Fornecedores</button>
						</div>
					</div>
					<!-- FIM Tela 2 -->

					<!-- Tela 3 - Selecionar Fornecedor -->
					<div *ngIf="numTela == '3'"> 
						<div class="row">
							<div style="margin-top: 5px;float: left;margin-left: 5px;">
								<button class="btn btn-warning" (click)="voltarTela2()" >Voltar</button>
							</div>
							<div style="margin-top: 10px;">
								<div class="col-md-12">  
									<center>
										<button *ngIf="!cotacao.id" [disabled]="isEnviado || !cotacaoForm.form.valid" class="btn btn-primary" (click)="salvar()">Salvar</button>
										<button *ngIf="cotacao.id" [disabled]="isEnviado || !cotacaoForm.form.valid" class="btn btn-primary" (click)="salvar()">Salvar</button>
										<button [disabled]="isEnviado || !cotacaoForm.form.valid" class="btn btn-success" (click)="salvarEnviar()">Salvar e Enviar</button>
									</center>
								</div>
							</div>
						</div>
						<div style="margin-top: 20px;">	
							<div class="row">
								<div style="margin-left: 5px;">
									<center><h4>Selecione Fornecedores</h4></center>
								</div>
							</div>
							<div class="row">
								<div class="form-group">
									<div class="col-md-6">
										<label>Filtrar</label>
										<input type="text" [(ngModel)]="filtroFornecedor" (ngModelChange)="filtrarFornecedor()" class="form-control" #inputff (input)="inputff.value=$event.target.value.toUpperCase()"/> 
									</div>	
								</div>	
							</div>
							<div class="row">
								<div *ngFor="let f of listaFornecedores" class="col-md-6" style="margin-top: 5px;">
									<div class="checkbox">
										<label> 

											<input *ngIf="!f.selecionado" type="checkbox" [(ngModel)]="f.selecionado" [disabled]="isEnviado" (click)="selecionarFornecedor(f)" class="form-control">

											<input *ngIf="f.selecionado" type="checkbox" [(ngModel)]="f.selecionado" [disabled]="isEnviado" (click)="desmarcarFornecedor(f)" class="form-control">
											{{f.pessoa.nome}}
										</label>
									</div>
									<input type="text" [disabled]="!f.habilitaEmail" [(ngModel)]="f.pessoa.email" class="form-control" [class.has-error]="!f.pessoa.email">
									
									<div *ngIf="!f.habilitaEmail">
										<button  type="button" class="btn btn-default" (click)='f.habilitaEmail = true' >
											<span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
										</button>

										<div *ngIf="!f.pessoa.email" class="alert alert-danger">
											Fornecedores com e-mail vazio, não receberão o formulário para cotação. Favor atualizar email clicando no botão acima.
										</div>  
									</div>

									<button *ngIf="f.habilitaEmail" type="button" class="btn btn-success" (click)='salvarEmail(f)'>Salvar
									</button>
								</div>
							</div>

						</div>
						<hr>

						<div style="margin-top: 25px;float: left;">
							<button class="btn btn-warning" (click)="voltarTela2()" >Voltar</button>
						</div>
						<div style="margin-top: 30px;">
							<div class="col-md-12">  
								<center>
									<button *ngIf="!cotacao.id" [disabled]="isEnviado || !cotacaoForm.form.valid" class="btn btn-primary" (click)="salvar()">Salvar</button>
									<button *ngIf="cotacao.id" [disabled]="isEnviado || !cotacaoForm.form.valid" class="btn btn-primary" (click)="salvar()">Salvar</button>
									<button [disabled]="isEnviado || !cotacaoForm.form.valid" class="btn btn-success" (click)="salvarEnviar()">Salvar e Enviar</button>
								</center>
							</div>
						</div>
					</div>
					<!-- FIM Tela 3 -->

				</div>
			</div>
			<center>
				<button class="btn btn-danger" (click)="voltar()">Voltar para Listagem</button>
			</center>
		</div>
	</div>
</form>			
