<form name="cotacaoForm" class="form-inline" #cotacaoForm="ngForm" >
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-heading">Cotações</div>
				<div class="row" style="margin-top:10px" *ngIf="mostarFiltroNucleo">
					<div class="col-md-12">
						<div class="row">
							<div class="col-md-10" style="margin-left: 20px; margin-bottom: 25px;">
								<label >Filtrar por núcleo:</label>
								<p-dropdown class="bootstrap-iso" id="nucleo" style="margin-left: 10px;" [options]="listaNucleo" [(ngModel)]="idNucleoSelecionado"
								[filter]="true" [style]="{'width':'250px'}" (onChange)="listarPorNucleo(idNucleoSelecionado)"></p-dropdown>
							</div>
						</div>
					</div>
				</div>
				<div class="row" style="margin-top: 10px; margin-left: 15px;">
					<div class="form-group">
						<div class="col-md-12">
							<label >Filtrar por data de validade da cotação:</label>
						</div>
					</div>	
				</div>	
				<div class="row" style="margin-top: 10px; margin-left: 15px;">
					<div class="form-group">
						<div class="col-md-3">
							Data Início:
							<custom-date name="dataAdmissao" [(ngModel)]="dataValidadeInicio" ></custom-date>
						</div>

						<div class="col-md-3">
							Data Fim:
							<custom-date [(ngModel)]="dataValidadeFim"></custom-date>
						</div>

						<div class="col-md-3">
								<button type="button" style="margin-top: 25px;" 
								class="btn btn-default" (click)="doListar()" >
								Consultar
							</button>

						</div>
					</div>
				</div>

			<p-dataTable [value]="paginacao.entradas" [totalRecords]="paginacao.totalEntradas" [rows]="10" [pageLinks]="3" [rowsPerPageOptions]="[10,20,25]"  [lazy]="true" [paginator]="true" (onLazyLoad)="load($event)">
			<header>Lista de Cotações</header>
			<p-column [hidden]="!_loginService.getPermissao().editar && !_loginService.getPermissao().excluir">
			<template let-emp="rowData">
				<div class="form-inline">
					<button *ngIf="_loginService.getPermissao().editar" type="button" class="btn btn-primary" (click)="editar(emp.id)" [disabled]="emp.status != 0">Editar</button>
					<button *ngIf="_loginService.getPermissao().excluir" type="button" class="btn btn-danger" (click)="confirmDiolgExcluir(emp.id)" [disabled]="emp.status != 0">Excluir</button>
				</div>
			</template>
		</p-column>
		<p-column>
		<template let-emp="rowData">
			<div class="form-inline">
				<button type="button" class="btn btn-primary" (click)="pedido(emp.id)" [disabled]="emp.status == 1 || emp.status == 4 || emp.status == 0">Pedido</button>
			</div>
		</template>
	</p-column>

	<p-column header="Descrição" field="descricao" filter="true" filterMatchMode="startsWith"></p-column>
	<p-column header="Data da Cotação" field="dataCotacao" ></p-column>
	<p-column header="Data da Validade" field="dataValidade" ></p-column>
	<p-column header="Status do Email">
	<template let-cot="rowData" header="Email">
		<label *ngIf="cot.status >= 2">ENVIADO</label>
		<label *ngIf="cot.status <= 1">NÃO ENVIADO</label>
	</template>
</p-column>
<p-column header="Status da Cotação">
<template let-cot="rowData">
	<div class="form-inline">
		<label *ngIf="cot.status == 0">Salvo</label>
		<label *ngIf="cot.status == 1">Enviar</label>
		<label *ngIf="cot.status == 2">Enviado</label>
		<label *ngIf="cot.status == 3">Respondido</label>
		<label *ngIf="cot.status == 4">Finalizado</label>
	</div>
</template>
</p-column>
</p-dataTable>
</div>
<button *ngIf="_loginService.getPermissao().inserir" type="button" class="btn btn-primary" (click)="novo()" style="float:left">Adicionar</button>
</div>
</div>
</form>

<p-dialog header="Confirmação" [(visible)]="displayDialogExcluir" modal="modal" showEffect="fade">
<p>Confirma a exclusão do registro?</p>
<footer>
	<div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
		<button type="button" class="btn btn-danger" icon="fa-close" (click)="displayDialogExcluir=false">Não</button>
		<button type="button" class="btn btn-success" icon="fa-check" (click)="excluir()">Sim</button>
	</div>
</footer>
</p-dialog>