<form name="cotacaoForm" class="form-inline">
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-heading">Cotações Respondidas</div>
				<div class="row" style="margin-top:10px" *ngIf="mostarFiltroNucleo">
					<div class="col-md-12">
						<div class="row">
							<div class="col-md-10" style="margin-left: 20px; margin-bottom: 25px;">
								<label >Filtrar por núcleo:</label>
								<p-dropdown class="bootstrap-iso" id="nucleo" style="margin-left: 10px;" [options]="listaNucleo" [(ngModel)]="idNucleoSelecionado"
								[filter]="true" [style]="{'width':'250px'}" (onChange)="listarPorNucleo(idNucleoSelecionado)"></p-dropdown>
							</div>
						</div>
					</div>
				</div>

				<p-dataTable [value]="paginacao.entradas" [totalRecords]="paginacao.totalEntradas" [rows]="10" [pageLinks]="3" [rowsPerPageOptions]="[10,20,25]"  [lazy]="true" [paginator]="true" (onLazyLoad)="load($event)">
					<header>Lista de Cotações</header>
					<p-column>
						<template let-emp="rowData">
							<div class="form-inline">
								<button type="button" class="btn btn-primary" (click)="pedido(emp.id)" [disabled]="emp.status == 1 || emp.status == 4 || emp.status == 0">Pedido</button>
							</div>
						</template>
					</p-column>

					<p-column header="Descrição" field="descricao" filter="true" filterMatchMode="startsWith"></p-column>
					<p-column header="Data da Cotação" field="dataCotacao" ></p-column>
					<p-column header="Data da Validade" field="dataValidade" ></p-column>
				</p-dataTable>
			</div>
		</div>
	</div>
</form>

