<form #fornecedorCotacaoForm="ngForm">
	<div class="row">
		<div class="col-lg-offset-1 col-md-10 col-lg-offset-1" >  
			<div class="panel panel-default">
				<div class="panel-heading">Cotação</div>
				<div class="panel-body"> 
					<div class="row">
						<center>
							<div class="form-group">
								<div class="col-lg-offset-3 col-md-6 col-lg-offset-3">
									<label for="comment">Informe o token:</label>
									<div class="input-group">
										<input class="form-control" required ngControl="tokenStr" #tokenStr="ngForm" [(ngModel)]="token">
										<span class="input-group-btn">
											<button class="btn btn-primary" type="button" (click)="validar()">Validar</button>
										</span>
									</div>
									<div [hidden]="tokenStr.valid || tokenStr.pristine"
									class="alert alert-danger">Token é obrigatório!</div>
								</div>
							</div>
						</center>
					</div>
					<div *ngIf="tokenValido" style="margin-top: 25px">
						<div class="row">
							<div class="col-md-12 titulo">
								<div class="col-md-4">Nome do produto</div>
								<div class="col-md-2">Qtd</div>
								<div class="col-md-2">Preço Unit.</div>
								<div class="col-md-offset-2 col-md-2">Valor Total</div>
							</div>
						</div>
						<div *ngFor="let ic of listaItens"  class="col-md-12 linha texto" >

							<div class="col-md-4">
								<label>{{ic.produto.nome}}</label>
							</div>
							<div class="col-md-2">
								<label>{{ic.quantidade}}</label>
								<label> - </label>
								<label>{{ic.produto.unidadeMedidaStr}}</label>
							</div>
							<div class="col-md-2">
								<custom-input type="text" [(ngModel)]="ic.vlrUnitario" mask="currency" (ngModelChange)="calcular(ic)"></custom-input>
							</div>
							<div class="col-md-offset-2  col-md-2">
								<custom-input type="text" [ngModel]="ic.vlrTotal" [disabled]="true" mask="currency"></custom-input>
							</div>
						</div>

						<div class="col-md-12 linha texto">
							<div class="col-md-4 texto">
								<label>Frete</label>
							</div>
							<div class="col-md-offset-6 col-md-2">
								<custom-input type="text" [(ngModel)]="cotacaoFornecedor.vlrFrete" (ngModelChange)="calcularVlrTotal()" mask="currency"></custom-input>
							</div>
						</div>

						<div class="col-md-12 linha texto">
							<div class="col-md-4 texto">
								<label>Desconto</label>
							</div>
							<div class="col-md-offset-6 col-md-2">
								<custom-input type="text" [(ngModel)]="cotacaoFornecedor.vlrDesconto" (ngModelChange)="calcularVlrTotal()" mask="currency"></custom-input>
							</div>
						</div>

						<div class="col-md-12 linha texto">
							<div class="col-md-4 texto">
								<label>Total</label>
							</div>
							<div class="col-md-offset-6 col-md-2">
								<custom-input type="text" [ngModel]="vlrTotal" [disabled]="true" mask="currency"></custom-input>
							</div>
						</div>

						<div class="col-md-12" style="margin-top: 25px;">
							<center>
								<button class="btn btn-primary" (click)="salvarResposta()" [disabled]="isSalvo">Responder Cotação</button>
							</center>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>