.titulo{
	border-right: solid 1px #888; 
	background-color: #ddd; 
	text-align: center; 
	text-transform: uppercase; 
	border-left: solid 1px #888; 
	border-top: solid 1px #888;
}

.linha {
	border-right: solid 1px #888; 
	text-align: center; 
	text-transform: uppercase; 
	border-left: solid 1px #888; 
	border-top: solid 1px #888;
	border-bottom: solid 1px #888;	
}

.texto {
	height: 50px;
	line-height: 50px;
}

.titulo-left{
	border-right: solid 1px #888; 
	background-color: #ddd; 
	text-align: center; 
	text-transform: uppercase; 
	border-left: solid 1px #888; 
	border-top: solid 1px #888;
	float: left;
}