<form #nucleoForm="ngForm" >
  <meu-panel titulo="Nucleo" (clickSave)="salvar()" (clickClear)="limpar()" (clickBack)="voltar()" [habilita]="nucleoForm.form.valid" [temId]="nucleo.id">          

  <div class="row">
    <div class="col-md-4">      
      <label >Empresa:</label>
      <select class="form-control" required
      [(ngModel)]="nucleo.idEmpresa"
      ngControl="empresa" #empresa="ngForm" >
      <option *ngFor="let emp of listaEmpresa" [value]="emp.value">{{emp.label}}</option>
    </select>
    <div [hidden]="empresa.valid || empresa.pristine" class="alert alert-danger">
      Empresa é obrigatório!
    </div>
  </div>
</div>

<div class="row">
  <div class="form-group">   
    <div class="col-md-5">      
      <label>Nome</label>
      <input class="form-control" type="text" required [(ngModel)]="nucleo.nome" ngControl="nome" #nome="ngForm" #input (input)="input.value=$event.target.value.toUpperCase()">
      <div [hidden]="nome.valid || nome.pristine" class="alert alert-danger">
        Nome é obrigatório!
      </div>      
    </div>
    <div class="col-md-3">      
      <label>Email</label>
      <input class="form-control" type="text" [(ngModel)]="nucleo.email" ngControl="email" id="email">
    </div>
  </div>
</div>

<div class="row" style="margin-top:10px">
  <div class="form-group">   
    <div class="col-md-3">      
      <label>Telefone</label>
      <input class="form-control" type="text" [(ngModel)]="nucleo.telefone" id="telefone" maskInput="telefone">
    </div>
  </div>
</div>

<div class="row" style="margin-top:10px">
  <div class="form-group">         
   <div class="col-md-5">      
    <label>Endereço</label>
    <textarea class="form-control" [(ngModel)]="nucleo.endereco" ngControl="endereco" #inputend (input)="inputend.value=$event.target.value.toUpperCase()"></textarea> 
  </div>

  <div class="col-md-3">      
    <label>Bairro</label>
    <input type="text" class="form-control" [(ngModel)]="nucleo.bairro" ngControl="bairro" #inputbairro (input)="inputbairro.value=$event.target.value.toUpperCase()"> 
    
  </div>
</div>
</div>

<div class="row" style="margin-top:10px">
  <div class="form-group">         
   <div class="col-md-3">      
    <label>Cidade</label>
    <input type="text" class="form-control" [(ngModel)]="nucleo.cidade" ngControl="cidade" #inputcidade (input)="inputcidade.value=$event.target.value.toUpperCase()"> 
  </div>

  <div class="col-md-2">      
    <label >Estado:</label>
    <select class="form-control" 
    [(ngModel)]="nucleo.ufCidade"
    ngControl="estado">
    <option *ngFor="let p of listaEstado" [value]="p.value">{{p.label}}</option>
  </select>

</div>

<div class="col-md-3">      
 <label>Cep:</label>
 <input type="text" class="form-control" [(ngModel)]="nucleo.cep" maskInput="cep"> 
</div>

</div>
</div>
</meu-panel>
</form>