<form #grupo_bemForm="ngForm" >
  <meu-panel titulo="Grupo Bem" (clickSave)="salvar()" (clickClear)="limpar()" (clickBack)="voltar()" [habilita]="grupo_bemForm.form.valid" [temId]="grupo_bem.id">          

    <div class="row">
      <div class="form-group">   
        <div class="col-md-5">      
          <label>Nome</label>
          <input class="form-control" type="text" required [(ngModel)]="grupo_bem.nome" ngControl="nome" #nome="ngForm" 
            #inputnome (input)="inputnome.value=$event.target.value.toUpperCase()">
          <div [hidden]="nome.valid || nome.pristine" class="alert alert-danger">
            Nome é obrigatório!
          </div>      
        </div>
      </div>
    </div>

    <div class="row" style="margin-top: 20px">
      <div class="form-group">   
        <div class="col-md-5">      
          <label>Observação</label>
          <input class="form-control" type="text"  [(ngModel)]="grupo_bem.observacao" ngControl="observacao" #observacao="ngForm" 
            #inputobs (input)="inputobs.value=$event.target.value.toUpperCase()">
        </div>
      </div>
    </div>

    <div class="row" style="margin-top: 20px">
      <div class="form-group">   
        <div class="col-md-3">  
          <label>Depreciação Anual</label>
          <custom-input [(ngModel)]="grupo_bem.depreciacaoAnual" mask="currency"></custom-input>
        </div>
      </div>
    </div> 

  </meu-panel>
</form>