<form role="form">

	<div class="row">
		<div class="col-lg-12">
			<div class="panel panel-default">
				<div class="panel-body">
					<div class="row">
						<div class="col-sm-3">
							<div class="form-group">
								<label class="control-label">Origem 2asasa46ssCadsastro:</label>
								<p-inputSwitch ngControl="true" [(ngModel)]="marcado" onLabel="Sim" offLabel="Não"></p-inputSwitch>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-3">
							<div class="form-group">
								<label class="control-label">Origem Cadastro:</label>
								<p-dropdown [options]="cities" [(ngModel)]="selectedCity"></p-dropdown>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>
