<form #produtoForm="ngForm" >
	<meu-panel titulo="Produto" (clickSave)="salvar()"
	(clickClear)="limpar()"
	(clickBack)="voltar()"
	[habilita]="produtoForm.form.valid && !isEnviado"
	[temId]="produto.id" col="10">

	<div class="row">
		<div class="form-group">
			<div class="col-md-5">
				<label>Nome:</label>
				<input class="form-control" type="text" required [(ngModel)]="produto.nome" ngControl="nome" #nome="ngForm" #input (input)="input.value=$event.target.value.toUpperCase()">
				<div [hidden]="nome.valid || nome.pristine" class="alert alert-danger">
					Nome é obrigatório!
				</div>
			</div>
		</div>
	</div>

	<div class="row" style="margin-top:10px">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-6">
					<label >Categoria de Produto:</label>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<p-dropdown class="bootstrap-iso" id="categoria" [options]="listaCategoria" [(ngModel)]="idCategoria"
					validateNotEqual
					ngControl="categoria" #categoria="ngForm"
					required
					[filter]="true" [style]="{'width':'250px'}" ></p-dropdown>
					<a type="button" class="inset btn-primary" (click)="showDialogCategoria()">Novo</a>
				</div>
			</div>
		</div>
	</div>

	<div class="row" style="margin-top:10px;">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-6">
					<label>Fabricante:</label>
				</div>
			</div>

			<div class="row">
				<div class="col-md-6">
					<p-dropdown class="bootstrap-iso"  id="fabricante" [options]="listaFabricante" [(ngModel)]="idFabricante"
					validateNotEqual
					ngControl="fabricante" #fabricante="ngForm"
					required
					[filter]="true" [style]="{'width':'250px'}" ></p-dropdown>
					<a type="button" class="inset btn-primary" (click)="showDialogFabricante()">Novo</a>
				</div>
			</div>
		</div>
	</div>

	<div class="row" style="margin-top:10px;">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-6">
					<label>Fornecedor:</label>
				</div>
			</div>

			<div class="row">
				<div class="col-md-6">
					<p-dropdown class="bootstrap-iso" id="fornecedor" [options]="listaFornecedor" [(ngModel)]="idFornecedor"
					ngControl="fornecedor" #fornecedor="ngForm"
					[filter]="true" [style]="{'width':'250px'}" ></p-dropdown>
				</div>
			</div>
		</div>
	</div>


	<div class="row" style="margin-top:20px">
		<div class="form-group">
			<!-- <div class="col-md-3">
				<label>Valor de Venda:</label>
				<custom-input [(ngModel)]="produto.valorVenda" mask="currency"></custom-input>
			</div>

			<div class="col-md-3">
				<label>Valor de Custo:</label>
				<custom-input [(ngModel)]="produto.valorCusto" mask="currency"></custom-input>
			</div>

			<div class="col-md-3">
				<label>Unidade Medida:</label>
				<p-dropdown class="bootstrap-iso" id="unidade" [options]="listaUnidades" [(ngModel)]="idUnidade"
				[filter]="false" [style]="{'width':'200px'}" ></p-dropdown>
			</div>-->

			<div class="col-md-3">
				<label>Mínimo em Estoque:</label>
				<custom-input [(ngModel)]="produto.minimoEmEstoque" mask="decimal"></custom-input>
			</div>

			<div class="col-md-3">
				<label>Máximo em Estoque: </label>
				<custom-input [(ngModel)]="produto.maximoEmEstoque" mask="decimal"></custom-input>
			</div>
		</div>
	</div>

	<!--<div class="row" style="margin-top:20px">
		<div class="form-group">
			<div class="col-md-3">
				<label>Mínimo em Estoque:</label>
				<custom-input [(ngModel)]="produto.minimoEmEstoque" mask="decimal"></custom-input>
			</div>

			<div class="col-md-3">
				<label>Máximo em Estoque: </label>
				<custom-input [(ngModel)]="produto.maximoEmEstoque" mask="decimal"></custom-input>
			</div>

			<div class="col-md-3">
		</div>
	</div>
</div>-->

</meu-panel>
</form>

<p-dialog header="" [(visible)]="mostrarDialogCategoria" modal="modal" showEffect="fade" closable="false" width="500" height="400">

<categoria-produto-dialog></categoria-produto-dialog>
<center>
	<button class="btn btn-danger" (click)="closeDialogCategoria()">Fechar</button>
</center>
</p-dialog>

<p-dialog header="" [(visible)]="mostrarDialogFabricante" modal="modal" showEffect="fade" closable="false" width="500" height="400">

<fabricante-dialog></fabricante-dialog>
<center>
	<button class="btn btn-danger" (click)="closeDialogFabricante()">Fechar</button>
</center>
</p-dialog>
