<form name="produtoForm" class="form-inline">
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-heading">Produtos Com Estoque Baixo</div>
				<p-dataTable [value]="paginacao.entradas" [totalRecords]="paginacao.totalEntradas" [rows]="10" [pageLinks]="3" [rowsPerPageOptions]="[10,20,20]"  [lazy]="true" [paginator]="true" (onLazyLoad)="load($event)">
				<header>Lista de Produtos</header>
			<p-column header="Nome" field="produto.nome" filter="true" filterMatchMode="startsWith"> </p-column>
			<!--p-column header="Valor Venda" >
				<template let-emp="rowData">
					<div class="form-inline" *ngIf="emp.produto">
						{{emp.produto.valorVenda | MoneyPipe}} 
					</div>
				</template>
			</p-column>

			<p-column header="Valor Custo" >
				<template let-emp="rowData">
					<div class="form-inline" *ngIf="emp.produto">
						{{emp.produto.valorCusto | MoneyPipe}} 
					</div>
				</template>
			</p-column-->
			<p-column header="Mínimo em Estoque" >
				<template let-emp="rowData">
					<div class="form-inline" *ngIf="emp.produto">
						{{emp.produto.minimoEmEstoque}} 
					</div>
				</template>
			</p-column>
			<p-column header="Quantidade Atual" field="quantidade"> </p-column>

		</p-dataTable>
	</div>
	
</div>
</div>
</form>
