<form #departamentoForm="ngForm" >
  <meu-panel titulo="Departamento" (clickSave)="salvar()" (clickClear)="limpar()" (clickBack)="voltar()" [habilita]="departamentoForm.form.valid" [temId]="departamento.id">          

  <div class="row">
    <div class="form-group">   
      <div class="col-md-5">      
        <label>Nome</label>
        <input class="form-control" type="text" required [(ngModel)]="departamento.nome" ngControl="nome" #nome="ngForm" #input (input)="input.value=$event.target.value.toUpperCase()">
        <div [hidden]="nome.valid || nome.pristine" class="alert alert-danger">
          Nome é obrigatório!
        </div>      
      </div>
    </div>
  </div>
</meu-panel>
</form>