<form #colaboradorForm="ngForm" *ngIf="colaborador.pessoa && numeroBanco">
  <meu-panel titulo="Colaborador" (clickSave)="salvar()"
  (clickClear)="limpar()" (clickBack)="voltar()"
  [habilita]="colaboradorForm.form.valid && isPodeSalvar" [temId]="colaborador.id">

  <p-tabView> <!-- Principal -->
    <p-tabPanel header="Dados Principais" [selected]="true">

      <div class="class-md-12">
        <div class="row">
          <div class="col-md-8">
            <div class="row">
              <div class="col-md-7">
               <label>Empresa:</label> <select class="form-control"
               required
               [(ngModel)]="idEmpresa"
               validateNotEqual
               (ngModelChange)="listarComboPorIdEmpresa()"
               ngControl="empresa" #empresa="ngForm">
               <option *ngFor="let emp of listaEmpresa" [value]="emp.value">{{emp.label}}</option>
             </select>
             <div [hidden]="empresa.valid || empresa.pristine"
             class="alert alert-danger">Empresa é obrigatório!</div>
           </div>

           <div class="col-md-5">
             <label>Núcleo:</label> 
             <select class="form-control" [disabled]="idEmpresa == 0" [(ngModel)]="idNucleo">
               <option *ngFor="let nuc of listaNucleo" [value]="nuc.value">{{nuc.label}}</option>
             </select>
           </div>

         </div>

         <div class="row" style="margin-top: 10px">

          <div class="form-group">

            <div class="col-md-7">
              <label>Nome:</label> <input class="form-control" type="text" required [(ngModel)]="colaborador.pessoa.nome" ngControl="nome" #nome="ngForm" #inputnome (input)="inputnome.value=$event.target.value.toUpperCase()">

              <div [hidden]="nome.valid || nome.pristine" class="alert alert-danger">
                Nome é obrigatório!
              </div>
            </div>

            <div class="col-md-5">
              <label>Cargo:</label> 

              <select class="form-control" required validateNotEqual [(ngModel)]="idCargo" ngControl="cargo" #cargo="ngForm">
                <option *ngFor="let cargo of listaCargo" [value]="cargo.value">{{cargo.label}}</option>
              </select>

              <div [hidden]="cargo.valid || cargo.pristine" class="alert alert-danger">
                Cargo é obrigatório!
              </div>
            </div>

          </div>
        </div>

        <div class="row" style="margin-top: 10px">
          <div class="form-group">
            <div class="col-md-4">
              <label>Admissão:</label>
              <custom-date name="dataAdmissao" [(ngModel)]="colaborador.admissao" ngControl="dataAdmissao" #dataAdmissao="ngForm"></custom-date>
            </div>

            <div class="col-md-4">
              <label>Demissão:</label>
              <custom-date [(ngModel)]="colaborador.demissao" dataValidator="dataAdmissao" ngControl="dataDemissao" #dataDemissao="ngForm" ></custom-date>
            </div>
            <div [hidden]="dataDemissao.valid || dataDemissao.pristine" class="alert alert-danger">
              Data de Demissão não pode ser menor do que a Data de Admissão!
            </div>
            <div class="col-md-4">
              <label>Data de Nascimento:</label>
              <custom-date [(ngModel)]="colaborador.pessoa.dataNascimento"></custom-date>
            </div>
          </div>
        </div>

        <div class="row" style="margin-top: 10px">
          <div class="form-group">
            <div class="col-md-4">
              <custom-input [(ngModel)]="colaborador.pessoa.cpfCnpj" mask="cpf">CPF:</custom-input>
            </div>
            <div class="col-md-4">
              <label>Sexo:</label> <select class="form-control"
              required  
              [(ngModel)]="colaborador.pessoa.sexo">
              <option *ngFor="let s of sexo" [value]="s.value">{{s.label}}</option>
            </select>
          </div>
          <div class="col-md-4">
            <label>Estado Civil:</label> <select class="form-control"
            required  
            [(ngModel)]="colaborador.pessoa.estadoCivil">
            <option *ngFor="let s of estadoCivil" [value]="s.value">{{s.label}}</option>
          </select>
        </div>
      </div>
    </div>
  </div> <!-- COL-MD-8 -->

  <div class="col-md-4" *ngIf="colaborador && colaborador.id">
   <div *ngIf="!colaborador.temFoto">
    <div class="row">
      <div class="col-md-12">
        <label>Foto:</label> 
        <input type="file" ng2FileSelect [uploader]="uploader" />
      </div>
    </div>
    <div class="row" style="margin-top: 10px;">
      <button class="btn btn-success btn-block" (click)="salvarFoto()" [disabled]="!uploader.getNotUploadedItems().length || uploader.getNotUploadedItems().length == 0">Salvar Foto</button>
    </div>
  </div>

  <div class="row" *ngIf="colaborador.temFoto" style="margin-top: 20px;">
    <div class="row" >
      <div class="col-md-12" >
        <img src="{{colaborador.caminhoArquivo}}" style="height: 220px;" class="col-md-12">
      </div>
    </div>

    <div class="row" style="margin-top: 10px;">
      <div class="col-md-12" >
        <button class="btn btn-danger btn-block" (click)="removerFoto()">Remover Foto</button>
      </div>
    </div>
  </div>
</div>

</div>
</div>

<div class="row" style="margin-top: 10px">
  <div class="form-group">
   <div class="col-md-4">
    <label>Rg:</label> 
    <input type="text" class="form-control" required [(ngModel)]="colaborador.pessoa.rgIe" ngControl="rg"
    #rg="ngForm" #inputrg (input)="inputrg.value=$event.target.value.toUpperCase()">
    <div [hidden]="rg.valid || rg.pristine" class="alert alert-danger">
     RG é obrigatório!</div>
   </div>

   <div class="col-md-4">
    <label>Orgão Emissor:</label> 
    <input type="text" class="form-control" required [(ngModel)]="colaborador.pessoa.emissorRgIe"
    ngControl="emissor" #emissor="ngForm" #inputorgemissor (input)="inputorgemissor.value=$event.target.value.toUpperCase()">
    <div [hidden]="emissor.valid || emissor.pristine"
    class="alert alert-danger">Orgão emissor é obrigatório!</div>
  </div>

  <div class="col-md-4">
    <label>Data de Expedição:</label>
    <custom-date [(ngModel)]="colaborador.pessoa.dataExpedicaoRgIe"></custom-date>
  </div>
</div>
</div>

<div class="row" style="margin-top: 10px">
  <div class="form-group">
   <div class="col-md-4">
    <label>Email:</label> 
    <input type="text" class="form-control" required [(ngModel)]="colaborador.pessoa.email" ngControl="email" #email="ngForm">
    <div [hidden]="email.valid || email.pristine" class="alert alert-danger">
      Email é obrigatório!!
    </div>
  </div>

  <div class="col-md-4">
    <custom-input [(ngModel)]="colaborador.pessoa.telefone"
    mask="telefone">Telefone:</custom-input>
  </div>

  <div class="col-md-4">
    <custom-input [(ngModel)]="colaborador.pessoa.celular"
    mask="telefone">Celular:</custom-input>
  </div>
</div>
</div>

<div class="row" style="margin-top: 10px">
  <div class="form-group">

    <div class="col-md-6">
      <label>Endereço:</label>
      <textarea class="form-control" [(ngModel)]="colaborador.pessoa.endereco" ngControl="endereco" #inputendereco (input)="inputendereco.value=$event.target.value.toUpperCase()"></textarea>
    </div>

    <div class="col-md-4">
      <label>Bairro:</label> <input type="text" class="form-control" [(ngModel)]="colaborador.pessoa.bairro" ngControl="bairro" #inputbairro (input)="inputbairro.value=$event.target.value.toUpperCase()">
    </div>

    <div class="col-md-2">
      <label>Número:</label>
      <input-number type="text"  [(ngModel)]="colaborador.pessoa.numeroEndereco" ngControl=""> </input-number>
    </div>

  </div>
</div>

<div class="row" style="margin-top: 10px">
  <div class="form-group">

    <div class="col-md-4">
      <label>Carteira de Trabalho:</label> 
      <input type="text" class="form-control" [(ngModel)]="colaborador.pessoa.numeroCTPS" ngControl="numeroCTPS"
      #inputclt (input)="inputclt.value=$event.target.value.toUpperCase()">
    </div>

    <div class="col-md-4">
      <label>PIS:</label> <input type="text" class="form-control"  [(ngModel)]="colaborador.pessoa.numeroPIS" ngControl="numeroPIS" #inputpis (input)="inputpis.value=$event.target.value.toUpperCase()">
    </div>

  </div>
</div>

<div class="row" style="margin-top: 10px">
  <div class="form-group">

    <div class="col-md-4">
     <label>Cidade:</label> 
     <input type="text" class="form-control" [(ngModel)]="colaborador.pessoa.cidade" ngControl="cidade"
     #inputcidade (input)="inputcidade.value=$event.target.value.toUpperCase()">
   </div>

   <div class="col-md-2">
    <label>Estado:</label> 
    <select class="form-control" [(ngModel)]="colaborador.pessoa.ufCidade" ngControl="estado">
      <option *ngFor="let p of listaEstado" [value]="p.value">{{p.label}}</option>
    </select>
  </div>

  <div class="col-md-3">
    <custom-input [(ngModel)]="colaborador.pessoa.cep" mask="cep">Cep:</custom-input>
  </div>

</div>
</div>

<div class="row" style="margin-top: 10px">
  <div class="form-group">
    <div class="col-md-3">
      <button class="btn btn-primary" (click)="habilitarBanco()">Selecionar Banco</button>
    </div>
    <div class="col-md-3">
      <label>Numero:</label> <input type="text"
      class="form-control"
      [disabled]="true" [(ngModel)]="numeroBanco.numero">
    </div>
    <div class="col-md-3">
      <label>Nome:</label> <input type="text"
      class="form-control"
      [disabled]="true" [(ngModel)]="numeroBanco.nome" #inputnomebanco (input)="inputnomebanco.value=$event.target.value.toUpperCase()">
    </div>
  </div>
</div>

<div class="row" style="margin-top: 10px">
  <div class="form-group">

    <div class="col-md-3">
      <label>Agência:</label> 
      <input type="text" class="form-control"  [(ngModel)]="colaborador.pessoa.agencia" ngControl="agencia"#inputag (input)="inputag.value=$event.target.value.toUpperCase()">
    </div>

    <div class="col-md-3">
      <label>Conta Corrente:</label> 
      <input type="text" class="form-control" [(ngModel)]="colaborador.pessoa.contaCorrente" ngControl="contaCorrente" #inputcc (input)="inputcc.value=$event.target.value.toUpperCase()">
    </div>

    <div class="col-md-3">
      <label>Observações Bancarias:</label> 
      <input type="text" class="form-control"  [(ngModel)]="colaborador.pessoa.observacoesBancaria"
      #inputobsbanco (input)="inputobsbanco.value=$event.target.value.toUpperCase()">
    </div>

  </div>
</div>

<div class="row" style="margin-top: 10px" *ngIf="!usuario || !usuario.id">
  <div class="form-group">
   <div class="col-md-4">
    <div class="checkbox">
     <label> <input type="checkbox" #cb (change)="carregarListaPerfil(cb.checked)" [(ngModel)]="possuiUsuario">
      Criar usuário de acesso ao sistema, para esse colaborador?
    </label>
  </div>
</div>
</div>
</div>

<div class="row" style="margin-top: 10px"  *ngIf="possuiUsuario">
 <div class="col-md-3">
   <label>Perfil de Acesso:</label> <select class="form-control"
   required
   [(ngModel)]="idPerfil"
   ngControl="perfil" #perfil="ngForm">
   <option *ngFor="let per of listaPerfis" [value]="per.value">{{per.label}}</option>
 </select>
 <div [hidden]="perfil.valid || perfil.pristine"
 class="alert alert-danger">Perfil de Acesso é obrigatório!</div>
</div>
</div>

      	<!--
      <div class="row" style="margin-top:10px" [hidden]="!possuiUsuario" >
        <div class="form-group" ngControlGroup="definiSenha">         
          <div class="col-md-3">      
            <label>Senha</label>
            <input type="password" class="form-control" required [(ngModel)]="usuario.senha" ngControl="senha"> 
          </div>

          <div class="col-md-3">      
            <label>Repetir Senha</label>
            <input type="password" class="form-control" required [(ngModel)]="repetirSenha" ngControl="repetirSenha"> 
          </div>
        </div>
      </div>
    --> 

  </p-tabPanel>

  <!-- HISTORICO -->
  <p-tabPanel header="Histórico" *ngIf="colaborador && colaborador.id">
      <div class="row">
        <div class="col-md-12">
            <div class="row">
              <div class="col-md-3">
              	<label>Data do Evento:</label>
              	<custom-date name="dataEvento" [(ngModel)]="documento.dataEvento" ngControl="dataEvento" #dataEvento="ngForm"></custom-date>
              </div>
            </div>
            
            <div class="row" style="margin-top: 15px;">
              <div class="col-md-5">
              	<label>Historico:</label>
              	<textarea class="form-control" [(ngModel)]="documento.historico" ngControl="historico" #inputhistorico (input)="inputhistorico.value=$event.target.value.toUpperCase()"></textarea>
              </div>
            </div>
            
            <div class="row" style="margin-top: 15px;">
              <div class="col-md-3">
                <label>Tipo Documento:</label>
                <p-dropdown class="bootstrap-iso" id="tipoDocumento" [options]="listaTipoDocumentos" [(ngModel)]="documento.tipoDocumento"
                [filter]="false" [style]="{'width':'200px'}" ></p-dropdown>
              </div>
            </div>
            <div class="row" *ngIf="documento.tipoDocumento == 0" style="margin-top: 15px;">
             <div class="col-md-3">
              <label>Valor Recebido:</label>
              <custom-input [(ngModel)]="documento.valorRecebido" mask="currency"></custom-input>
            </div>        
          </div>

          <div class="row" >
            <div class="col-md-12" 
                *ngIf="(documento.historico && documento.tipoDocumento >= 0 && documento.dataEvento)" >
                 <div *ngIf="!documento.temArquivo">
                  <div class="row" style="margin-top: 15px;">
                    <div class="col-md-12">
                      <label>Documento:</label> 
                      <input type="file" ng2FileSelect [uploader]="uploaderDocumento" />
                    </div>
                  </div>
                </div>
                <div class="row" *ngIf="documento.temArquivo" style="margin-top: 10px; margin-left: 15px;">
                  <div class="row" >
                    <div class="col-md-12" >
                         <button class="btn btn-danger" (click)="removerArquivo(documento.id)">Remover Arquivo</button>    
                      <!--  >div class="col-md-3" style="margin-left: 20px;">
                          <a class="btn btn-default" href="{{documento.caminhoArquivo}}" download="{{documento.nomeArquivo}}"><label>Download</label></a>
                      </div-->
                    </div>
                  </div>
                  <div class="row" *ngIf="documento.temArquivo" style="margin-top: 10px;">
                   	<div class="col-md-12">
                       	<a class="btn btn-default" href="{{documento.caminhoArquivo}}" download="{{documento.nomeArquivo}}"><label>Download</label></a>
                       	<label style="margin-left: 10px; margin-right: 10px;">{{documento.nomeArquivo}}</label>
                   	</div>
                  </div>
                </div>
              </div>
            </div>
            
          </div>
        </div>


<!-- <div class="col-md-4" 
        *ngIf="(documento.historico && documento.tipoDocumento && documento.dataEvento) && ( (documento.tipoDocumento == 0 && documento.valorRecebido && documento.valorRecebido > 0) || documento.tipoDocumento != 0)" > -->



    <div class="row">
      <div class="col-md-12">
        <center>
          <div class="row" style="margin-top: 10px; margin-bottom: 25px;">
            <button class="btn btn-success " (click)="salvarDocumento()" 
            	[disabled]="!documento.historico || documento.tipoDocumento == null || !documento.dataEvento || isSalvandoDocumento">Salvar</button>
            <button class="btn btn-danger" (click)="confirmDiolgExcluir(documento.id)" [disabled]="!documento.id">Remover</button>
            <button class="btn btn-default" (click)="novoDocumento()" >Novo</button>
          </div>
        </center>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12" >
        <table class="table table-bordered" style="overflow-x: scroll;float: left">
          <thead>
            <tr class="active">
              <th style="width: 200px;"></th>
              <th style="width: 200px;">Data</th>
              <th style="width: 200px;">Histórico</th>
              <th style="width: 200px;">Tipo</th>
              <th style="width: 200px;">Valor Recebido</th>
              <th style="width: 100px;"></th>
            </tr>
          </thead>
          <template ngFor let-ic [ngForOf]="listaDocumentos" let-pos="index">
            <tbody>
              <tr>
                <div class="form-inline">
                <td><button style="margin-left: 10px;" type="button" class="btn btn-primary" (click)="consultarDocumento(ic.id)">Editar</button></td>
                  <td><button *ngIf="_loginService.getPermissao().excluir" style="margin-left: 5px;" type="button" class="btn btn-danger" (click)="confirmDiolgExcluir(ic.id)">Excluir</button></td>
                </div>          
                <td style="width: 200px;"> <label>{{ic.dataEvento}}</label></td>
                <td style="width: 200px;"> <label>{{ic.historico}}</label></td>
                <td style="width: 200px;"> <label>{{ic.nomeDocumento}}</label></td>
                <td style="width: 200px;"> <label>{{ic.valorRecebido | MoneyPipe}} </label></td>
                <td style="width: 100px;"><a class="btn btn-default" *ngIf="ic.temArquivo" href="{{ic.caminhoArquivo}}" download="{{ic.nomeArquivo}}"><label>Download</label></a></td>
                <!--td style="width: 100px;"> <button type="button"  class="btn btn-link">Download</button></td-->
              </tr>
            </tbody>
          </template>
        </table>
      </div>
    </div>

</p-tabPanel>
</p-tabView>

</meu-panel>
</form>

<p-dialog header="Selecionar Banco" [(visible)]="mostrarDialog" 
modal="modal" showEffect="fade" closable="false" width="560" height="520">
<div class="row">
	<div class="col-md-12">
		<div class="form-inline">
			<label>Nome:</label> <input type="text"
      (keyup)="filtrarBanco()" [(ngModel)]="nomeBanco" class="form-control" #inputfiltronomebanco (input)="inputfiltronomebanco.value=$event.target.value.toUpperCase()"/>
    </div>
  </div>
  <hr>
  <div style="width: 500px; height: 280px; margin-top: 10px; overflow-y: scroll;">
    <div class="col-md-12" *ngFor="let nb of listaNumeroBanco">
      <div class="form-inline">
       <div class="col-md-2">
         <button type="button" class="btn btn-link" (click)="selecionarBanco(nb)">{{nb.numero}}</button>
       </div>
       <div class="col-md-9">
         <button type="button" class="btn btn-link" (click)="selecionarBanco(nb)">{{nb.nome}}</button>
       </div>
     </div>
   </div>
 </div>
 <div class="row" style="margin-top: 15px">
   <hr>
   <center>
    <button class="btn btn-danger" (click)="mostrarDialog=false">Cancelar</button>
  </center>
</div> 
</div>
</p-dialog>

<p-dialog header="Confirmação" [(visible)]="displayDialogExcluir" modal="modal" showEffect="fade">
<p>Confirma a exclusão do registro?</p>
<footer>
	<div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
		<button type="button" class="btn btn-danger" icon="fa-close" (click)="displayDialogExcluir=false">Não</button>
		<button type="button" class="btn btn-success" icon="fa-check" (click)="excluirDocumento()">Sim</button>
	</div>
</footer>
</p-dialog>

