<form name="produtoForm" class="form-inline">
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-heading">Movimentos</div>
				<div style="margin-top: 15px;margin-bottom: 15px;">
					<button type="button" class="btn btn-primary" (click)="showDialogLancamento()" style="margin-left: 10px;">Incluir Lançamento</button>
					<button type="button" class="btn btn-default" style="margin-left: 10px;">Voltar para listagem</button>
				</div>
				<p-dataTable [value]="listaMovimentos"  >
				<header>Histórico</header>
				<p-column [hidden]="!_loginService.getPermissao().editar && !_loginService.getPermissao().excluir">
				<template let-emp="rowData">
					<div class="form-inline">
						<button [hidden]="!_loginService.getPermissao().editar" type="button" class="btn btn-primary" (click)="editar(emp.id)">Editar</button>
						<button [hidden]="!_loginService.getPermissao().excluir" type="button" class="btn btn-danger" (click)="editar(emp.id)">Excluir</button>
					</div>
				</template>
			</p-column>

			<p-column [hidden]="!_loginService.getPermissao().editar">
			<template let-emp="rowData">
				<div class="form-inline">
				</div>
			</template>
		</p-column>

		<p-column header="Nome" field="produto.nome"></p-column>
	</p-dataTable>
</div>
</div>
</div>
</form>

<p-dialog header="Lançamentos de estoque" [(visible)]="mostrarDialogLancamento" modal="modal" showEffect="fade" closable="false" width="600" height="500">

<div class="row" >
	<div class="col-md-12">
		<div class="row">
			<div class="col-md-3" style="margin-left: 10px;">
				<div class="row">
					<label >Tipo:</label>
				</div>
				<div class="row">
					<p-dropdown class="bootstrap-iso" id="fornecedor" [options]="listaMovimento" [(ngModel)]="idMovimento" [filter]="true" [style]="{'width':'150px'}" ></p-dropdown>
				</div>
			</div>

			<div class="col-md-7">
				<label >Destino:</label>
			</div>
			<div class="col-md-7">
				<p-dropdown class="bootstrap-iso" id="destino" [options]="listaDestino" [(ngModel)]="idDestino" 
				[filter]="true" [style]="{'width':'250px'}" ></p-dropdown>
				<a type="button" class="inset btn-primary" (click)="showDialogDestino()">Novo</a>
			</div>
		</div>

		<div class="row" style="margin-top: 15px;">
			<div class="col-md-12">
				<label >Produto:</label>
			</div>
			<div class="col-md-12">
				<p-dropdown class="bootstrap-iso" id="produto" [options]="listaProduto" [(ngModel)]="idProduto" 
				[filter]="true" [style]="{'width':'350px'}" ></p-dropdown>
			</div>
		</div>

		<div class="row" style="margin-top: 15px;">
			<div class="col-md-3">
				<label >Quantidade:</label>
				<custom-input mask="decimal"></custom-input>
			</div>

			<div class="col-md-4">
				<label >Saldo em estoque:</label>
				<custom-input mask="decimal"></custom-input>
			</div>
		</div>

		<div class="row" style="margin-top: 10px;">
			<div class="col-md-12">
				<label >Observação:</label>
				<input type="text" class="form-control" #input (input)="input.value=$event.target.value.toUpperCase()">
			</div>
		</div>
	</div>
</div>

<div style="margin-top: 20px;">
	<center>
		<button class="btn btn-danger" (click)="closeDialogLancamento()">Fechar</button>
	</center>
</div>
</p-dialog>