<form name="produtoForm" class="form-inline">
	<div class="row">
		<div class="col-md-12">

			<div class="panel panel-default">

				<div class="panel-heading">Movimentos</div>

				<div class="row" style="margin-top:10px">
					<div class="col-md-12">
						<div class="row">
							<div class="col-md-10" style="margin-left: 20px; margin-bottom: 25px;">
								<label >Filtrar por núcleo:</label>
								<p-dropdown class="bootstrap-iso" id="nucleo" style="margin-left: 10px;" [options]="listaNucleo" [(ngModel)]="idNucleo"
								[filter]="true" [style]="{'width':'250px'}" (onChange)="carregarListaMovimentoPorNucleo()">
							</p-dropdown>
						</div>
					</div>
				</div>
			</div>

			<div style="margin-top: 15px;margin-bottom: 15px;">
				<button type="button" class="btn btn-primary" (click)="showDialogLancamento()" style="margin-left: 10px;">Incluir Lançamento</button>
				<button type="button" class="btn btn-default" style="margin-left: 10px;" (click)="voltar()">Voltar para listagem</button>
			</div>

			<div style="margin-top: 25px;">
				<center><span style="color: #23527A; font-size: 17px; font-weight: bold;">{{produto.nome}}</span></center>
			</div>
			
			<table class="table table-striped" style="margin-top: 15px;">
				<thead>
					<tr>
						<th style="width: 100px">Data</th>
						<th style="width: 100px">Movimentação</th>
						<th style="width: 200px">Destino</th>
						<th style="width: 200px">Observação</th>
						<!--th style="width: 80px">Vlr Unitário</th-->
						<th style="width: 80px">Qt Movimentada</th>
						<th style="width: 80px">Saldo Estoque</th>
						<th style="width: 80px">Colaborador</th>
						<!--<th>Qt Estoque</th>
						<th>Custo Total</th>-->
					</tr>
				</thead>
				<tfoot>
					<tr>
						<td colspan="4">.</td>
						<td style="color: #23527A; font-size: 17px; font-weight: bold;">Saldo Final </td>
						<td>{{saldoTotal | DoublePipe}}</td>
					</tr>
				</tfoot>
				<tbody>
					<tr *ngFor="let mov of listaMovimentos">
						<td>{{mov.data}}</td>
						<td>{{mov.tipoMovimentoEstoqueStr}}</td>
						<td *ngIf="mov.nucleo">{{mov.nucleo.nome}}</td>
						<td *ngIf="!mov.nucleo">{{mov.empresa.nome}}</td>
						<td>{{mov.observacao}}</td>
						<!--td>{{mov.valor | MoneyPipe}}</td-->
						<td>{{mov.quantidadeMovimentada | DoublePipe}}</td>
						<td>{{mov.saldo | DoublePipe}}</td>
						<td>{{mov.colaborador.pessoa.nome}}</td>
					</tr>
				</tbody>
			</table>

		</div>
	</div>


</div>
</form>

<p-dialog header="Lançamentos de estoque" [(visible)]="mostrarDialogLancamento" modal="modal" showEffect="fade" closable="false" width="600" height="550">

	<div class="row" >
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-3" style="margin-left: 20px;">
					<div class="row">
						<label >Tipo:</label>
					</div>
					<div class="row">

						<p-dropdown class="bootstrap-iso" id="fornecedor" [options]="listaTipoMovimento" [(ngModel)]="movimento.tipoMovimentoEstoque" [filter]="true" [style]="{'width':'150px'}" ></p-dropdown>
					</div>
				</div>

				<div class="col-md-7" >
					<label >Produto:</label>
				</div>
				<div class="col-md-7" style="margin-top: 10px;">
					<input [value]="produto.nome" [disabled]="true" class="form-control" #input (input)="input.value=$event.target.value.toUpperCase()">
				</div>
			</div>

			<div class="row">
				<div class="col-md-5" style="margin-top: 20px; margin-left: 20px;">
					<div class="row">
						<label >Empresa:</label>
					</div>
					<div class="row" >
						<input [value]="empresa.nome" [disabled]="true" class="form-control" #inputnomeempresa (input)="inputnomeempresa.value=$event.target.value.toUpperCase()">
					</div>
				</div>

				<div class="col-md-4" style="margin-top: 20px; margin-right: 20px;" >
					<label >Núcleo:</label>
				</div>
				<div class="col-md-4">
					<select class="form-control" [disabled]="idEmpresa == 0" [(ngModel)]="idNucleo"
					(ngModelChange)="consultarProdutoEstoque()">
					<option *ngFor="let nuc of listaNucleo" [value]="nuc.value">{{nuc.label}}</option>
				</select>
			</div>
		</div>

		<div class="row" style="margin-top: 20px;">
			<div class="col-md-3">
				<label >Quantidade:</label>
				<custom-input mask="decimal" [(ngModel)]="movimento.quantidadeMovimentada"></custom-input>
			</div>

			<!--div class="col-md-3">
				<label >Preço Uni.:</label>
				<custom-input mask="currency" [(ngModel)]="movimento.valor"></custom-input>
			</div-->

			<div class="col-md-4">
				<label >Saldo em estoque:</label>
				<custom-input mask="decimal" [disabled]="true" [(ngModel)]="produtoEstoque.quantidade"></custom-input>
			</div>
		</div>

		<div class="row" style="margin-top: 10px;">
			<div class="col-md-12">
				<label >Observação:</label>
				<input type="text" class="form-control" [(ngModel)]="movimento.observacao" #inputobs (input)="inputobs.value=$event.target.value.toUpperCase()">
			</div>
		</div>
	</div>
	</div>

	<div style="margin-top: 20px;">
		<center>
			<button class="btn btn-danger" (click)="closeDialogLancamento()">Fechar</button>
			<button class="btn btn-primary" (click)="salvar()" style="margin-left: 15px;" 
				[disabled]="!movimento.quantidadeMovimentada || !movimento.tipoMovimentoEstoque || idNucleo == 0">Salvar</button>
		</center>
	</div>
</p-dialog>