<div class="loginwrapper">
  <div class="loginwrap zindex100">

    <h1 class="logintitle">
      <!-- <span class="subtitle">Sindicato</span> -->
    </h1>

    <div class="login_left">
      <center>
        <img alt="" style="margin-top: 40px;"
        src="{{_userService.url}}app/resources/imagens/logo-vitae-orig.png"  align="bottom" />
      </center>
    </div>
    <div class="login_right">
      <div class="loginwrapperinner" *ngIf="!mostrarEsqueceuSenha">
       <form id="formLogin" name="formLogin" [ngFormModel]="loginForm">
        <p class="animate5 bounceIn">
          <label for="login">Login</label>
          <input type="text" class="form-control" id="login" required [(ngModel)]="usuario.login" ngControl="login" #login="ngForm" > 
        </p>
        <div [hidden]="login.valid || login.pristine" class="alert alert-danger">
          Login  é obrigatório!
        </div>  

        <p class="animate5 bounceIn">
          <label for="password">Password</label>
          <input type="password" class="form-control" id="password" required [(ngModel)]="usuario.senha" ngControl="senha"> 
        </p>

        <p class="animate6 bounceIn">
          <button  [disabled]="!loginForm.valid" type="submit" class="btn btn-default-login btn-block" (click)="onClick($event)" >Login</button>
        </p>

        <p class="animate7 fadeIn">
          <a (click)="abrirEsqueceuSenha()">
            Esqueceu a senha? <span class="icon-question-sign icon-white"></span>
          </a>
        </p>
      </form>
    </div>

    <div *ngIf="mostrarEsqueceuSenha" class="loginwrapperinner"  style="margin-top: 25px; margin-bottom: 10px;">
      <form #esqueciForm="ngForm">
        <div >
         <label for="esqueceu">Informe seu email</label>
         <input id="esqueceu" required class="form-control" [(ngModel)]="email" placeholder="Email cadastrado" ngControl="esqueceu" #esqueceu="ngForm"> 
       </div>
       <div >
         <p>
           <button class="btn btn-primary btn-block" style="color: #fff;" [disabled]="!esqueciForm.valid" (click)="esqueciSenha()">Enviar</button>
         </p>
         <p>
           <button class="btn btn-danger btn-block" style="color: #fff;" (click)="fecharEsqueceuSenha()">Voltar</button>
         </p>
       </div>
     </form>
   </div>
 </div>
</div>
</div>

