<form #manutencao_patrimonioForm="ngForm" >
	<meu-panel titulo="Manutenção Patrimônio" (clickSave)="salvar()"
	(clickClear)="limpar()"
	(clickBack)="voltar()"
	[habilita]="manutencao_patrimonioForm.form.valid"
	[temId]="manutencao_patrimonio.id" col="10">

	<div class="row">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-6">
					<label>Patrimônio</label>
				</div>
			</div>

			<div class="row">
				<div class="col-md-6">
					<p-dropdown class="bootstrap-iso" id="patrimonio" [options]="listaPatrimonio" [(ngModel)]="idPatrimonio"
					validateNotEqual
					ngControl="patrimonio" #patrimonio="ngForm"
					required
					[filter]="true" [style]="{'width':'250px'}" ></p-dropdown>
				</div>
			</div>
		</div>
	</div>

	<div class="row" style="margin-top:20px;">
		<div class="form-group">
			<div class="col-md-8">
				<label>Motivo</label>
				<input class="form-control" type="text" required [(ngModel)]="manutencao_patrimonio.motivo" ngControl="motivo" #motivo="ngForm" #inputmotivo (input)="inputmotivo.value=$event.target.value.toUpperCase()">
				<div [hidden]="motivo.valid || motivo.pristine" class="alert alert-danger">
					motivo é obrigatório!
				</div>
			</div>
		</div>
	</div>

	<div class="row" style="margin-top: 20px;">
		<div class="form-group">
			<div class="col-md-8">
				<label>Descrição Retorno</label>
				<input class="form-control" type="text" [(ngModel)]="manutencao_patrimonio.descricaoRetorno" ngControl="descricaoRetorno" #descricaoRetorno="ngForm" 
				#inputdesc (input)="inputdesc.value=$event.target.value.toUpperCase()">
			</div>
		</div>
	</div>

	<div class="row" style="margin-top: 20px">
		<div class="form-group">
			<div class="col-md-3">
				<label>Valor</label>
				<custom-input [(ngModel)]="manutencao_patrimonio.valor" mask="currency"></custom-input>
			</div>

			<div class="col-md-3">
				<label>Valor Pago</label>
				<custom-input [(ngModel)]="manutencao_patrimonio.valorPago" mask="currency"></custom-input>
			</div>
		</div>
	</div>

	<div class="row" style="margin-top:20px">
		<div class="form-group">
			<div class="col-md-4">
				<label>Data Saída</label>
				<custom-date name="dataSaida" required [(ngModel)]="manutencao_patrimonio.dataSaida" ngControl="dataSaida" #dataSaida="ngForm"></custom-date>
			</div>

			<div class="col-md-4">
				<label>Data de Retorno</label>
				<custom-date name="dataRetorno" [(ngModel)]="manutencao_patrimonio.dataRetorno" ngControl="dataRetorno" #dataRetorno="ngForm"></custom-date>
			</div>

			<div class="col-md-4">
				<label>Data Previsão de Retorno</label>
				<custom-date name="dataPrevistaRetorno" required [(ngModel)]="manutencao_patrimonio.dataPrevistaRetorno" ngControl="dataPrevistaRetorno" #dataPrevistaRetorno="ngForm"></custom-date>
			</div>
			
			<div class="col-md-4">
				<label>Data Fim da Garantia</label>
				<custom-date name="fimGarantia" [(ngModel)]="manutencao_patrimonio.fimGarantia" ngControl="fimGarantia" #fimGarantia="ngForm"></custom-date>
			</div>

		</div>
	</div>

	<div class="row" style="margin-top:10px;">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-6">
					<label>Fornecedor (Prestador de Serviço)</label>
				</div>
			</div>

			<div class="row">
				<div class="col-md-6">
					<p-dropdown class="bootstrap-iso" id="fornecedor" [options]="listaFornecedor" [(ngModel)]="idFornecedor"
					validateNotEqual
					ngControl="fornecedor" #fornecedor="ngForm"
					required
					[filter]="true" [style]="{'width':'250px'}" ></p-dropdown>
				</div>
			</div>
		</div>
	</div>

</meu-panel>
</form>


