<form name="manutencaoPatrimonioForm" class="form-inline">
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-heading">Manutenções Patrimônios</div>


				<div class="panel-body"> 

		<!-- 			<div class="row" >
						<div class="col-md-3">      
							<div class="form-group">   
								<label>Filtrar por Número da Etiqueta</label>
								<input class="form-control" id="numeroEtiqueta" type="text"  (change)="listarPorFiltros(idDepartamentoSelecionado, idGrupoBemSelecionado, numeroEtiqueta, nome)" [(ngModel)]="numeroEtiqueta">      
							</div>
						</div>

						<div class="col-md-6">      
							<div class="form-group">   
								<label>Filtrar por Nome</label>
								<input class="form-control" id="nome" type="text"  (change)="listarPorFiltros(idDepartamentoSelecionado, idGrupoBemSelecionado, numeroEtiqueta, nome)" [(ngModel)]="nome"> 
							</div>
						</div>
					</div> -->





					<p-dataTable [value]="paginacao.entradas" [totalRecords]="paginacao.totalEntradas" [rows]="10" [pageLinks]="3" [rowsPerPageOptions]="[10,20,20]"  [lazy]="true" [paginator]="true" (onLazyLoad)="load($event)">
						<header>Lista de ManutencaoPatrimonios</header>
						<p-column [hidden]="!_loginService.getPermissao().editar && !_loginService.getPermissao().excluir">
							<template let-emp="rowData">
								<div class="form-inline">
									<button *ngIf="_loginService.getPermissao().editar" type="button" class="btn btn-primary" (click)="editar(emp.id)">Editar</button>
									<button *ngIf="_loginService.getPermissao().excluir" type="button" class="btn btn-danger" (click)="confirmDiolgExcluir(emp.id)">Excluir</button>
								</div>
							</template>
						</p-column>

						<p-column header="Motivo" field="motivo" filter="true" filterMatchMode="startsWith"> </p-column>

					</p-dataTable>
				</div>
			</div>

			<button *ngIf="_loginService.getPermissao().inserir" type="button" class="btn btn-primary" (click)="novo()" style="float:left">Adicionar</button>
		</div>
	</div>
</form>

<p-dialog header="Confirmação" [(visible)]="displayDialogExcluir" modal="modal" showEffect="fade">
	<p>Confirma a exclusão do registro?</p>
	<footer>
		<div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
			<button type="button" class="btn btn-danger" icon="fa-close" (click)="displayDialogExcluir=false">Não</button>
			<button type="button" class="btn btn-success" icon="fa-check" (click)="excluir()">Sim</button>
		</div>
	</footer>
</p-dialog>
