<div class="navbar navbar-default" role="navigation" >
    <!-- user dropdown starts -->
    <div class="navbar-inner color-vitae">
        <button class="navbar-toggle pull-left animated flip" (click)="expandeMenu()">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="" href="index.html" style="margin-left: 15px;">
            <img alt="Charisma Logo" src="{{url}}app/resources/imagens/logo_vitae.png" class="hidden-xs" style="height: 50px;" />
        </a>

        <!-- user dropdown starts -->
        <div class="btn-group pull-right" style="padding-right: 20px;">
            <button class="btn {{btn}} dropdown-toggle" data-toggle="dropdown" (click)="expandeDropdown()">
                <i class="glyphicon glyphicon-user color-txt-b3"></i><span class="hidden-sm hidden-xs color-txt-b3"> 
                 {{_loginService.getUser().nome}}</span>
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" [style.display]="dropdownDisplay">
                <li><a href="#" class="color-txt-b3" [routerLink]="['/alterarsenha']">Alterar Cadastro</a></li>
                <li class="divider"></li>
                <li><a href="#" (click)="logout()" class="color-txt-b3">Logout</a></li>
            </ul>
        </div>

    </div>
</div>

<div class="col-md-3 col-lg-2 col-xs-12 menu-b3" >
    <div class="sidebar-nav {{menuDisplay}}">
        <div class="nav-canvas">
            <ul class="nav nav-stacked ">
                <li>
                    <div class="input-group input-group-sm">
                        <input type="text" class="form-control color-txt-b3" placeholder="Localizar" #queryElem (keyup)="0">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-search color-txt-b3" aria-hidden="true"></span></span>
                    </div>
                </li>

                <div *ngFor="let menu of _menuService.itensMenu() | MenuPipe:queryElem.value" >

                    <li *ngIf="menu.submenus != null" class="accordion" (click)="expande(_menuService.menus, menu.name)">
                        <a ><i class="glyphicon {{menu.icon}} color-txt-b3"></i><span class="color-txt-b3">{{menu.name}}</span>
                            <i *ngIf="menu.mostrar != 'block'" class="glyphicon glyphicon-chevron-right color-txt-b3" ></i>
                            <i *ngIf="menu.mostrar == 'block'" class="glyphicon glyphicon-chevron-down color-txt-b3"></i>
                        </a>
                        <ul class="nav nav-pills nav-stacked color-txt-b3" [style.display]="menu.mostrar" *ngFor="let sub of menu.submenus">
                            <li><a href="#" class="color-txt-b3" [routerLink]="[sub.caminho]" (click)="consultarPermissao(sub.id)">{{sub.name}}</a></li>
                        </ul>
                    </li>

                    <li *ngIf="menu.submenus == null">
                        <a class="ajax-link color-txt-b3" href="#" [routerLink]="[menu.caminho]" (click)="consultarPermissao(menu.id)"><i class="glyphicon {{menu.icon}}"></i><span > {{menu.name}}</span></a>
                    </li>
                </div>
            </ul>
        </div>
    </div>
</div>