<form name="pedidoCompraForm" class="form-inline">
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-heading">Pedido Compras</div>
				
				<div class="row" style="margin-top:10px" *ngIf="mostarFiltroNucleo">
					<div class="col-md-12">
						<div class="row">
							<div class="col-md-10" style="margin-left: 20px; margin-bottom: 25px;">
								<label >Filtrar por núcleo:</label>
								<p-dropdown class="bootstrap-iso" id="nucleo" style="margin-left: 10px;" [options]="listaNucleo" [(ngModel)]="idNucleoSelecionado"
								[filter]="true" [style]="{'width':'250px'}" (onChange)="listarPorNucleo(idNucleoSelecionado)"></p-dropdown>
							</div>
						</div>
					</div>
				</div>
				
				<div class="row" style="margin-top:10px" >
					<div class="col-md-12">
						<div class="row">
							<div class="col-md-10" style="margin-left: 20px; margin-bottom: 25px;">
								<label >Filtrar por Status:</label>
								<p-dropdown class="bootstrap-iso" id="nucleo" style="margin-left: 10px;" [options]="listaTipoPedido" [(ngModel)]="idTipoPedidoSelecionado"
								[filter]="true" [style]="{'width':'250px'}" (onChange)="listarPorTipo(idTipoPedidoSelecionado)"></p-dropdown>
							</div>
						</div>
					</div>
				</div>
				<p-dataTable [value]="paginacao.entradas" [totalRecords]="paginacao.totalEntradas" [rows]="10" [pageLinks]="3" [rowsPerPageOptions]="[10,20,25]"  [lazy]="true" [paginator]="true" (onLazyLoad)="load($event)">
				<header>Lista de Pedido Compras</header>
				<p-column [hidden]="!_loginService.getPermissao().editar && !_loginService.getPermissao().excluir">
				<template let-emp="rowData">
					<div class="form-inline">
						<button [hidden]="!_loginService.getPermissao().editar" type="button" class="btn btn-primary" (click)="editar(emp.id)" *ngIf="emp.status == 0" >Editar</button>
						<button [hidden]="!_loginService.getPermissao().editar" type="button" class="btn btn-primary" (click)="editar(emp.id)" *ngIf="emp.status != 0" >Visualizar</button>
						<button [hidden]="!_loginService.getPermissao().excluir" type="button" class="btn btn-danger" (click)="editar(emp.id)" [disabled]="emp.status != 0">Excluir</button>
					</div>
				</template>
			</p-column>
			<p-column header="Nome" field="fornecedor.pessoa.nome" filter="true" filterMatchMode="startsWith">
		</p-column>
		<p-column header="Cpf/Cnpj" field="fornecedor.pessoa.cpfCnpj" filter="true" filterMatchMode="startsWith">
	</p-column>
	<p-column header="Email" field="fornecedor.pessoa.email">
	<template let-emp="rowData">
		<div class="form-inline">
			<label *ngIf="emp.status == 0">ABERTO</label>
			<label *ngIf="emp.status == 1">FINALIZADO</label>
		</div>
	</template>
</p-column>

<p-column header="Data" field="dataPedidoCompra">
</p-column>
</p-dataTable>
</div>
</div>
</div>
</form>