<form #pedidoCompraForm="ngForm" >
  <table class="table table-bordered" style="overflow-x: scroll;float: left">
    <thead>
    <tr class="active">
          <th colspan="6">{{nomeNucleo}}</th>
      </tr>
      <tr class="active">
          <th colspan="6">{{descricao}}</th>
      </tr>
      <tr class="active">
        <th colspan="2">{{dataValidade}}</th>
        <template ngFor let-cf [ngForOf]="lista">
          <th colspan="2">
            <button type="button" class="btn btn-info" (click)="abrirDialog(cf);" >
              <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
            </button>
            <label style="margin-left: 5px;" >{{cf.nomeF}} </label>
          </th>
        </template>
      </tr>
      <tr class="active">
       <th style="width: 300px;">Nome do produto</th>
       <th style="width: 220px;">Qtd</th>
       <template ngFor let-cf [ngForOf]="lista">
         <th style="width: 220px;">Vlr Unit.</th>
         <th style="width: 220px;">Vlr Tot.</th>
       </template>
     </tr>
   </thead>
   <tfoot> 

    <tr>
      <th colspan="2" style="width: 520px;">Frete</th>
      <template ngFor let-cf [ngForOf]="lista">
        <th colspan="2" style="width: 220px;" [ngClass]="{'primary': cf.selecionado}"><custom-input [(ngModel)]="cf.vlrFrete" mask="currency" (blur)="calcularTotal()"></custom-input></th>
      </template>
    </tr>
    <tr>
      <th colspan="2" style="width: 520px;">Desconto</th>
      <template ngFor let-cf [ngForOf]="lista">
        <th colspan="2" style="width: 220px;" [ngClass]="{'success': cf.selecionado}"><custom-input [(ngModel)]="cf.vlrDesconto" mask="currency" (blur)="calcularTotal()"></custom-input></th>
      </template>
    </tr>
    <tr>
     <th colspan="2" style="width: 520px;">Total</th>
     <template ngFor let-cf [ngForOf]="lista">
       <th colspan="2" style="width: 220px;" [ngClass]="{'success': cf.menorPreco, 'danger': cf.maiorPreco, 'info': cf.selecionado}"><custom-input [(ngModel)]="cf.vlrTotal" [disabled]="true" mask="currency" > </custom-input></th>
     </template>
   </tr>
   <tr>
       <th colspan="2" style="width: 520px;">Total Selecionado</th>
       <th colspan="2" style="width: 220px;">
          <custom-input [(ngModel)]="valorTotal" [disabled]="true" mask="currency"> </custom-input>
       </th>
   </tr>
   <!--tr>
    <th colspan="2" style="width: 520px;"></th>
    <template ngFor let-i [ngForOf]="lista" let-ind="index">
     <td colspan="2">
       <button [disabled]="i.selecionado" (click)="selecionar(ind)" class="btn btn-success">Selecionar</button>
     </td>
   </template>
 </tr-->
</tfoot>
<template ngFor let-ic [ngForOf]="listaItens" let-pos="index">
  <tbody>
    <tr>
     <td style="width: 300px;"> <label>{{ic.produto.nome}}</label></td>
     <td style="width: 220px;">
       <label>{{ic.quantidade}}</label>
       <label> - </label>
       <label>{{ic.produto.unidadeMedidaStr}}</label>
     </td>
     <template ngFor let-i [ngForOf]="lista" let-poslat="index">
       <td *ngIf="i.itens[pos]" >
         <custom-input [(ngModel)]="i.itens[pos].vlrUnitario" [disabled]="true" mask="currency"></custom-input>
       </td>
       <td *ngIf="i.itens[pos]" [ngClass]="{'success': i.itens[pos].selecionado}" (click)="selecionar(pos, poslat)">
         <custom-input [(ngModel)]="i.itens[pos].vlrTotal" [disabled]="true" mask="currency" ></custom-input>
       </td>
     </template>

   </tr>
 </tbody>
</template>
</table>

<!--button class="btn btn-primary" (click)="calcularTotal()">Calcular</button>
(Somatório dos valores selecionados + valor(es) do(s) frete(s) - valor(es) do(s) desconto(s).)  
{{valorTotal}}
-->
</form>
<center>
  <button class="btn btn-primary" [disabled]="!podeSalvar" (click)="salvar()">Salvar</button>
  <button class="btn btn-warning" (click)="voltar()">Voltar</button>
</center>

<p-dialog header="Email Fornecedor" *ngIf="cf" [(visible)]="displayDialog" modal="modal" showEffect="fade" width="700" minWidth="400">
   <label><p>Dados para email de cotação</p></label>
    <div class="row">
    <div class="col-md-12">
      <label>Fornecedor:</label>{{cf.nomeF}}
    </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <label>Token:</label>{{cf.token}}
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <label>URL para cotação:</label>{{url}}
      </div>
    </div>
    <div class="row">
      <div class="col-md-12" style="margin-left: 15px;">
        <div class="row">
          <label>Deseja tentar reenviar o email com token? Se sim informe o email abaixo:</label>
        </div>
        <div class="row">
          <div class="col-md-6">
            <input class="form-control" #emaildialog/>
          </div>
        </div>
        <div class="row" style="margin-top: 15px;">
        <center>
            <button type="button" class="btn btn-success" icon="fa-check" 
              [disabled]="!emaildialog.value || isEnviandoEmail" 
              (click)="enviarEmail(cf.nomeF, cf.token, emaildialog.value)">Sim</button>
        </center>
        </div>
      </div>
    </div>

  <footer>
      <div class="row">
        <center>
            <button type="button" class="btn btn-danger" icon="fa-check" (click)="displayDialog = false; emaildialog.value = ''">Fechar
            </button>
        </center>
      </div>
  </footer>
</p-dialog>