<form #empresaForm="ngForm" >
  <meu-panel titulo="Empresa" (clickSave)="salvar()" (clickClear)="limpar()" (clickBack)="voltar()" [habilita]="empresaForm.form.valid" [temId]="empresa.id">          
  <div class="row">

    <div class="form-group">   
      <div class="col-md-5">      
        <label>Nome</label>
        <input class="form-control" type="text" required [(ngModel)]="empresa.nome" ngControl="nome" #nome="ngForm" #input (input)="input.value=$event.target.value.toUpperCase()">
        <div [hidden]="nome.valid || nome.pristine" class="alert alert-danger">
          Nome é obrigatório!
        </div>      
      </div>
      <div class="col-md-3">      
        <label>Email</label>
        <input class="form-control" type="text"  [(ngModel)]="empresa.email" ngControl="email"  id="email">
      </div>
    </div>
  </div>

  <div class="row" style="margin-top:10px">
    <div class="form-group">   
      <div class="col-md-2"> 
        <div class="radio">
          <label>
            <input type="radio" name="optionsRadios" [ngModel]="{checked: empresa.tipoPessoa == 1}" (ngModelChange)="empresa.tipoPessoa=1" value="1">
            Pessoa Jurídica
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="optionsRadios" [ngModel]="{checked: empresa.tipoPessoa == 2}" (ngModelChange)="empresa.tipoPessoa=2" value="2">
            Pessoa Física
          </label>
        </div>
      </div>
      <div class="col-md-3" [ngSwitch]="empresa.tipoPessoa">      
        <template ngSwitchDefault>
          <label>CNPJ</label>
          <input class="form-control" type="text"  [(ngModel)]="empresa.cpfCnpj" maskInput="cnpj"> 
        </template> 
        <template [ngSwitchWhen]="2">
          <label>CPF</label>
          <input class="form-control" type="text" [(ngModel)]="empresa.cpfCnpj"  maskInput="cpf">
        </template>
      </div>
      <div class="col-md-3">      
        <label>Telefone</label>
        <input class="form-control" type="text" [(ngModel)]="empresa.telefone" maskInput="telefone">
      </div>
    </div>
  </div>

  <div class="row" style="margin-top:10px">
    <div class="form-group">         
     <div class="col-md-5">      
      <label>Endereço</label>
      <textarea class="form-control"  [(ngModel)]="empresa.endereco" ngControl="endereco" 
      #inputff (input)="inputff.value=$event.target.value.toUpperCase()"></textarea> 
    </div>

    <div class="col-md-3">      
      <label>Bairro</label>
      <input type="text" class="form-control" [(ngModel)]="empresa.bairro" ngControl="bairro" #inputbairro (input)="inputbairro.value=$event.target.value.toUpperCase()"> 
    </div>
  </div>
</div>

<div class="row" style="margin-top:10px">
  <div class="form-group">         
   <div class="col-md-3">      
    <label>Cidade</label>
    <input type="text" class="form-control"  [(ngModel)]="empresa.cidade" ngControl="cidade" #inputcidade (input)="inputcidade.value=$event.target.value.toUpperCase()"> 
       
  </div>

  <div class="col-md-2">      
    <label >Estado:</label>
    <select class="form-control" 
    [(ngModel)]="empresa.ufCidade"
    ngControl="estado">
    <option *ngFor="let p of listaEstado" [value]="p.value">{{p.label}}</option>
  </select>
  
</div>

<div class="col-md-3">      
 <label>Cep:</label>
 <input type="text" class="form-control" [(ngModel)]="empresa.cep" maskInput="cep"> 
</div>
</div>
</div>

<div class="row" style="margin-top:10px">
  <div class="form-group">         
   <div class="col-md-4">      
    <label>Inscrição Estadual:</label>
    <input type="text" class="form-control"  [(ngModel)]="empresa.inscricaoEstadual" ngControl="inscEstadual"> 
  </div>

  <div class="col-md-4">      
    <label>Inscrição Municipal:</label>
    <input type="text" class="form-control"  [(ngModel)]="empresa.inscricaoMunicipal" ngControl="inscMunicipal"> 
  </div>
</div>
</div>

</meu-panel>
</form>