<form #fornecedorForm="ngForm" >
  <meu-panel titulo="Fornecedor" (clickSave)="salvar()" (clickClear)="limpar()" (clickBack)="voltar()" [habilita]="fornecedorForm.form.valid" [temId]="fornecedor.id">          

    <div class="row">
      <div class="form-group">   
        <div class="col-md-5">      
          <label>Nome</label>
          <input class="form-control" type="text" required [(ngModel)]="fornecedor.pessoa.nome" ngControl="nome" #nome="ngForm" #input (input)="input.value=$event.target.value.toUpperCase()">
          <div [hidden]="nome.valid || nome.pristine" class="alert alert-danger">
            Nome é obrigatório!
          </div>      
        </div>

        <div class="col-md-4">      
          <label>Email</label>
          <input class="form-control" type="text" required [(ngModel)]="fornecedor.pessoa.email" ngControl="email" #email="ngForm" id="email">
          <div [hidden]="email.valid || email.pristine" class="alert alert-danger">
            Email é obrigatório!
          </div>  
        </div>

        <div class="col-md-3">                
          <custom-input [(ngModel)]="fornecedor.pessoa.telefone" mask="telefone">Telefone:</custom-input>           
        </div>

      </div>
    </div>

    <div class="row" style="margin-top:10px">
      <div class="form-group">   
        <div class="col-md-2"> 
          <div class="radio">
            <label>
              <input type="radio" name="optionsRadios" [ngModel]="{checked: fornecedor.pessoa.tipoPessoa == 1}" (ngModelChange)="fornecedor.pessoa.tipoPessoa=1" value="1"  maskInput="cnpj">
              Pessoa Jurídica
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="optionsRadios" [ngModel]="{checked: fornecedor.pessoa.tipoPessoa == 2}" (ngModelChange)="fornecedor.pessoa.tipoPessoa=2" value="2"  maskInput="cpf">
              Pessoa Física
            </label>
          </div>
        </div>
        <div class="col-md-3" [ngSwitch]="fornecedor.pessoa.tipoPessoa">      
          <template ngSwitchDefault>            
            <custom-input [(ngModel)]="fornecedor.pessoa.cpfCnpj" mask="cnpj">CNPJ:</custom-input>                 
          </template> 
          <template [ngSwitchWhen]="2">
            <custom-input [(ngModel)]="fornecedor.pessoa.cpfCnpj" mask="cpf">CPF:</custom-input>            
          </template>
        </div>

        <div class="col-md-4">      
          <label>Nome Contato</label>
          <input class="form-control" type="text" required [(ngModel)]="fornecedor.nomeContato" ngControl="nomeContato" #nomeContato="ngForm" #inputnomecontato (input)="inputnomecontato.value=$event.target.value.toUpperCase()">
          <div [hidden]="nomeContato.valid || nomeContato.pristine" class="alert alert-danger">
            Nome Contato é obrigatório!
          </div>      
        </div>

        <div class="col-md-3">      
          <custom-input [(ngModel)]="fornecedor.celularContato" mask="telefone">Celular Contato:</custom-input>                      
        </div>
      </div>
    </div>

    <div class="row" style="margin-top:10px">
      <div class="form-group">         
       <div class="col-md-5">      
        <label>Endereço</label>
        <textarea class="form-control" [(ngModel)]="fornecedor.pessoa.endereco" ngControl="endereco" #inputend (input)="inputend.value=$event.target.value.toUpperCase()"></textarea> 
      </div>

      <div class="col-md-3">      
        <label>Bairro</label>
        <input type="text" class="form-control"  [(ngModel)]="fornecedor.pessoa.bairro" ngControl="bairro"
          #inputbairro (input)="inputbairro.value=$event.target.value.toUpperCase()"> 
      </div>

      <div class="col-md-1">      
        <label>Número</label>
        <input type="text" class="form-control" [(ngModel)]="fornecedor.pessoa.numeroEndereco" ngControl="numeroEndereco" #inputnum (input)="inputnum.value=$event.target.value.toUpperCase()"> 
      </div>

      <div class="col-md-3">      
        <label>Complemento</label>
        <input type="text" class="form-control" [(ngModel)]="fornecedor.pessoa.complemento" ngControl="complemento" #inputcomp (input)="inputcomp.value=$event.target.value.toUpperCase()"> 
      </div>
    </div>
  </div>

  <div class="row" style="margin-top:10px">
    <div class="form-group">         
     <div class="col-md-3">      
      <label>Cidade</label>
      <input type="text" class="form-control" [(ngModel)]="fornecedor.pessoa.cidade" ngControl="cidade" 
      #inputcidade (input)="inputcidade.value=$event.target.value.toUpperCase()"> 
     </div>

    <div class="col-md-2">      
      <label >Estado:</label>
      <select class="form-control" 
      [(ngModel)]="fornecedor.pessoa.ufCidade" ngControl="estado">
      <option *ngFor="let p of listaEstado" [value]="p.value">{{p.label}}</option>
    </select>
   
  </div>

  <div class="col-md-3">    
    <custom-input [(ngModel)]="fornecedor.pessoa.cep" mask="cep">CEP:</custom-input>                 
  </div>
</div>


<div class="col-md-4"> 
  <div class="checkbox">
    <label>
      <input type="checkbox" class="checkbox" [checked]="fornecedor.prestadorServico" ngControl="true" [(ngModel)]="fornecedor.prestadorServico" >
      Prestador de serviço?
    </label>
  </div>
</div>
</div>


</meu-panel>
</form>