<form name="fornecedorForm" class="form-inline">
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-heading">Fornecedores</div>
				<p-dataTable [value]="paginacao.entradas" [totalRecords]="paginacao.totalEntradas" [rows]="10" [pageLinks]="3" [rowsPerPageOptions]="[10,20,25]"  [lazy]="true" [paginator]="true" (onLazyLoad)="load($event)">
				<header>Lista de Fornecedores</header>
				<p-column [hidden]="!_loginService.getPermissao().editar && !_loginService.getPermissao().excluir">
				<template let-emp="rowData">
					<div class="form-inline">
						<button *ngIf="_loginService.getPermissao().editar" type="button" class="btn btn-primary" (click)="editar(emp.id)">Editar</button>
						<button *ngIf="_loginService.getPermissao().excluir" type="button" class="btn btn-danger" (click)="confirmDiolgExcluir(emp.id)">Excluir</button>
					</div>
				</template>
			</p-column>
			<p-column header="Nome" field="pessoa.nome" filter="true" filterMatchMode="contains">
		</p-column>
	</p-dataTable>
</div>
<button *ngIf="_loginService.getPermissao().inserir" type="button" class="btn btn-primary" (click)="novo()" style="float:left">Adicionar</button>
</div>
</div>
</form>

<p-dialog header="Confirmação" [(visible)]="displayDialogExcluir" modal="modal" showEffect="fade">
    <p>Confirma a exclusão do registro?</p>
        <footer>
            <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
                <button type="button" class="btn btn-danger" icon="fa-close" (click)="displayDialogExcluir=false">Não</button>
                <button type="button" class="btn btn-success" icon="fa-check" (click)="excluir()">Sim</button>
            </div>
        </footer>
</p-dialog>