<form name="solicitacaoForm" class="form-inline">
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-heading">Solicitações </div>
				<div class="panel-body"> 

					<div class="row" style="margin-top:15px;">
						<div class="col-md-3">
							<div class="form-group">  
								<label >Filtrar por Núcleo</label>
								<p-dropdown class="bootstrap-iso" id="nucleo" style="margin-left: 10px;" [options]="listaNucleo" [(ngModel)]="idNucleoSelecionado"
								[filter]="true" [style]="{'width':'250px'}" (onChange)="listarPorFiltros(idNucleoSelecionado, idLocalSelecionado, idStatusSolicitacaoSelecionado)"></p-dropdown>
							</div>
						</div>
					</div>

					<div class="row" style="margin-top:15px; ">
						<div class="col-md-3">
							<div class="form-group">  
								<label >Filtrar por Local</label>
								<p-dropdown class="bootstrap-iso" id="local" style="margin-left: 10px;" [options]="listaLocal" [(ngModel)]="idLocalSelecionado"
								[filter]="true" [style]="{'width':'250px'}" (onChange)="listarPorFiltros(idNucleoSelecionado, idLocalSelecionado, idStatusSolicitacaoSelecionado)"></p-dropdown>
							</div>
						</div>
					</div>

					<div class="row" style="margin-top:10px; margin-bottom: 10px;">
						<div class="col-md-5" >
							<div class="form-group">   
							<label>Filtrar por Status da Solicitação</label>
								<p-dropdown class="bootstrap-iso" id="statusSolicitacao" style="margin-left: 10px;" [options]="listaStatusSolicitacao" [(ngModel)]="idStatusSolicitacaoSelecionado"
								[filter]="true" [style]="{'width':'250px'}" (onChange)="listarPorFiltros(idNucleoSelecionado, idLocalSelecionado, idStatusSolicitacaoSelecionado)"></p-dropdown>
							</div>
						</div>
					</div>

					<div class="row" style="margin-top:25px; ">
						<p-dataTable [value]="paginacao.entradas" [totalRecords]="paginacao.totalEntradas" [rows]="10" [pageLinks]="3" [rowsPerPageOptions]="[10,20,25]"  [lazy]="true" [paginator]="true" (onLazyLoad)="load($event)">
							<header>Lista de Solicitacaoes</header>
							<p-column [hidden]="!_loginService.getPermissao().editar && !_loginService.getPermissao().excluir" [style]="{'width':'300px'}">
								<template let-emp="rowData">
									<div class="form-inline">
										<button *ngIf="_loginService.getPermissao().editar" type="button" class="btn btn-primary" (click)="editar(emp.id)">Editar</button>
										<button *ngIf="_loginService.getPermissao().excluir" type="button" class="btn btn-danger" (click)="confirmDiolgExcluir(emp.id)">Excluir</button>
									</div>
								</template>
							</p-column>
							<p-column header="Descrição" field="descricao" ></p-column>
							<p-column header="Etiqueta" field="numeroEtiqueta" ></p-column>
							<p-column header="Data Abertura" field="abertura" ></p-column>
						</p-dataTable>
					</div>		
				</div>
			</div>
			<button *ngIf="_loginService.getPermissao().inserir" type="button" class="btn btn-primary" (click)="novo()" style="float:left">Adicionar</button>
		</div>
	</div>
</form>

<p-dialog header="Confirmação" [(visible)]="displayDialogExcluir" modal="modal" showEffect="fade">
	<p>Confirma a exclusão do registro?</p>
	<footer>
		<div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
			<button type="button" class="btn btn-danger" icon="fa-close" (click)="displayDialogExcluir=false">Não</button>
			<button type="button" class="btn btn-success" icon="fa-check" (click)="excluir()">Sim</button>
		</div>
	</footer>
</p-dialog>