<form #solicitacaoForm="ngForm">
  <meu-panel titulo="Solicitação" (clickSave)="salvar()"
  (clickClear)="limpar()" (clickBack)="voltar()"
  [habilita]="solicitacaoForm.form.valid && isPodeSalvar" [temId]="solicitacao.id">

  <p-tabView> <!-- Principal -->
    <p-tabPanel header="Dados Principais" [selected]="true">

      <div class="class-md-12">
        <div class="row">
          <div class="col-md-12">
            <div class="row">
<!--               <div class="col-md-3">
               <label>Empresa</label> <select class="form-control"
               required
               [(ngModel)]="idEmpresa"
               validateNotEqual
               (ngModelChange)="listarComboPorIdEmpresa()"
               ngControl="empresa" #empresa="ngForm">
               <option *ngFor="let emp of listaEmpresa" [value]="emp.value">{{emp.label}}</option>
             </select>
             <div [hidden]="empresa.valid || empresa.pristine"
             class="alert alert-danger">Empresa é obrigatório!</div>
           </div> -->

           <div class="col-md-3">
             <label>Núcleo</label> 
             <select class="form-control" required [(ngModel)]="idNucleo" validateNotEqual ngControl="nuc" #nuc="ngForm">
               <option *ngFor="let nuc of listaNucleo" [value]="nuc.value">{{nuc.label}}</option>
             </select>

             <div [hidden]="nuc.valid || nuc.pristine" class="alert alert-danger">
               Núcleo é obrigatório!
             </div>
           </div>
           
           <div class="col-md-3">
             <label>Local</label> 
             <select class="form-control" required [(ngModel)]="idLocal" validateNotEqual ngControl="local" #local="ngForm">
               <option *ngFor="let local of listaLocal" [value]="local.value">{{local.label}}</option>
             </select>

             <div [hidden]="local.valid || local.pristine" class="alert alert-danger">
               Local é obrigatório!
             </div>
           </div>

           <div class="col-md-3">
            <label>Solicitante</label> 

            <select class="form-control" [disabled]="idResponsavel != 0" [(ngModel)]="idResponsavel" ngControl="responsavel" #responsavel="ngForm">
              <option *ngFor="let responsavel of listaResponsavel" [value]="responsavel.value">{{responsavel.label}}</option>
            </select>

            <div [hidden]="responsavel.valid || responsavel.pristine" class="alert alert-danger">
              Responsavel é obrigatório!
            </div>
          </div>

        </div>

        <div class="row" style="margin-top:10px">
          <div class="col-md-9">  
            <label>Descrição</label> 
            <textarea class="form-control" required [(ngModel)]="solicitacao.descricao" ngControl="descricao" #descricao="ngForm"
            #inputdesc (input)="inputdesc.value=$event.target.value.toUpperCase()"></textarea>
            <div [hidden]="descricao.valid || descricao.pristine" class="alert alert-danger">
              Descrição é obrigatório!
            </div>
          </div>
        </div>

<!--             <div class="col-md-3">      
              <label>Assunto</label>
              <input class="form-control" type="text" required [(ngModel)]="solicitacao.assunto" ngControl="assunto" #assunto="ngForm" >
              <div [hidden]="assunto.valid || assunto.pristine" class="alert alert-danger">
                Assunto é obrigatório!
              </div>  
            </div> -->


            <div class="row" style="margin-top:10px">
              <div class="col-md-9">      
                <label>Solução</label>
                <textarea class="form-control" [disabled]="true" [(ngModel)]="solicitacao.solucao" ngControl="solucao" 
                #inputsolucao (input)="inputsolucao.value=$event.target.value.toUpperCase()"></textarea>
              </div>
            </div>

            <div class="row" style="margin-top:10px">
             <div class="col-md-3">      
              <label>Número da Etiqueta</label>
              <input class="form-control" type="text" required [(ngModel)]="solicitacao.numeroEtiqueta" ngControl="numeroEtiqueta" #numeroEtiqueta="ngForm" #inputetiqueta (input)="inputetiqueta.value=$event.target.value.toUpperCase()">
              <div [hidden]="numeroEtiqueta.valid || numeroEtiqueta.pristine" class="alert alert-danger">
                Número da Etiqueta é obrigatório!
              </div>  
            </div>
          </div>

          <div class="row" style="margin-top:10px">
            <div class="col-md-3">
              <label>Tipo da Solicitação</label> 

              <select class="form-control" required validateNotEqual [(ngModel)]="idTipoSolicitacao" ngControl="tipoSolicitacao" #tipoSolicitacao="ngForm">
                <option *ngFor="let tipoSolicitacao of listaTipoSolicitacao" [value]="tipoSolicitacao.value">{{tipoSolicitacao.label}}</option>
              </select>

              <div [hidden]="tipoSolicitacao.valid || tipoSolicitacao.pristine" class="alert alert-danger">
                Tipo de Solicitacao é obrigatório!
              </div>
            </div>
          </div>

          <div class="row" style="margin-top:10px">
            <div class="col-md-3">
              <label>Status da Solicitação</label> 

              <select class="form-control" required validateNotEqual [disabled]="true"  [(ngModel)]="idStatusSolicitacao" ngControl="statusSolicitacao" #statusSolicitacao="ngForm">
                <option *ngFor="let statusSolicitacao of listaStatusSolicitacao" [value]="statusSolicitacao.value">{{statusSolicitacao.label}}</option>
              </select>

              <div [hidden]="statusSolicitacao.valid || statusSolicitacao.pristine" class="alert alert-danger">
                Status de Solicitação é obrigatório!
              </div>
            </div>
          </div>

          <div class="row" style="margin-top: 10px">
            <div class="form-group">
              <div class="col-md-4">
                <label>Abertura</label>
                <custom-date name="abertura" [disabled]="true" [(ngModel)]="solicitacao.abertura" ngControl="abertura" #abertura="ngForm"></custom-date>
              </div>

              <div class="col-md-4">
                <label>Término</label>
                <custom-date [disabled]="true" [(ngModel)]="solicitacao.termino" dataValidator="termino" ngControl="termino" #termino="ngForm" ></custom-date>
              </div>
              <div [hidden]="termino.valid || termino.pristine" class="alert alert-danger">
                Data de termino não pode ser menor do que a Data de Admissão!
              </div>
              <div class="col-md-4">
                <label>Previsão de Finalização</label>
                <custom-date [disabled]="true" [(ngModel)]="solicitacao.previsaoFinalizacao"></custom-date>
              </div>
            </div>
          </div>

<!--           <div class="row" style="margin-top:10px;">
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-6">
                  <label>Local:</label>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <p-dropdown class="bootstrap-iso"  id="local" [options]="listaLocal" [(ngModel)]="idLocal"
                  validateNotEqual
                  ngControl="local" #local="ngForm"
                  required
                  [filter]="true" [style]="{'width':'250px'}" ></p-dropdown>
                  <a type="button" class="inset btn-primary" (click)="showDialogLocal()">Novo</a>
                </div>
              </div>
            </div>
          </div> -->


        </div> 
      </div>
    </div>

  </p-tabPanel>
</p-tabView>

</meu-panel>
</form>


<p-dialog header="" [(visible)]="mostrarDialogLocal" modal="modal" showEffect="fade" closable="false" width="500" height="400">

  <local-dialog></local-dialog>
  <center>
    <button class="btn btn-danger" (click)="closeDialogLocal()">Fechar</button>
  </center>
</p-dialog>