<form name="solicitacaoForm" class="form-inline">
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-heading">Solicitações Em Aberto</div>
				<div class="panel-body">

					<div class="row" style="margin-top:15px;" *ngIf="mostrarFiltroNucleo">
						<div class="col-md-3">
							<div class="form-group">  
								<label >Filtrar por Núcleo</label>
								<p-dropdown class="bootstrap-iso" id="nucleo" style="margin-left: 10px;" [options]="listaNucleo" [(ngModel)]="idNucleoSelecionado"
								[filter]="true" [style]="{'width':'250px'}" (onChange)="listarPorFiltros(idNucleoSelecionado, idLocalSelecionado)"></p-dropdown>
							</div>
						</div>
					</div>

					<div class="row" style="margin-top:15px; ">
						<div class="col-md-3">
							<div class="form-group">  
								<label >Filtrar por Local</label>
								<p-dropdown class="bootstrap-iso" id="local" style="margin-left: 10px;" [options]="listaLocal" [(ngModel)]="idLocalSelecionado"
								[filter]="true" [style]="{'width':'250px'}" (onChange)="listarPorFiltros(idNucleoSelecionado, idLocalSelecionado)"></p-dropdown>
							</div>
						</div>
					</div>

					<div class="row" style="margin-top:25px; ">
						<p-dataTable [value]="paginacao.entradas" [totalRecords]="paginacao.totalEntradas" [rows]="10" [pageLinks]="3" [rowsPerPageOptions]="[10,20,25]"  [lazy]="true" [paginator]="true" (onLazyLoad)="load($event)">
							<header>Lista de Solicitacaoes</header>
							<p-column header="Descrição" field="descricao" ></p-column>
							<p-column header="Etiqueta" field="numeroEtiqueta" ></p-column>
							<p-column header="Data Abertura" field="abertura" ></p-column>
							<p-column header="Previsão para finalizar" field="previsaoFinalizacao" ></p-column>
						</p-dataTable>
					</div>		
				</div>
			</div>
		</div>
	</div>
</form>

