<form #grupoForm="ngForm" >
  <meu-panel titulo="Grupo" (clickSave)="salvar()" (clickClear)="limpar()" (clickBack)="voltar()" [habilita]="grupoForm.form.valid" [temId]="grupo.id">          

    <div class="row">
      <div class="form-group">   
        <div class="col-md-5">      
        <label>Nome do Grupo</label>
          <input class="form-control" type="text" required [(ngModel)]="grupo.nome" ngControl="nome" #nome="ngForm" 
          #inputnome (input)="inputnome.value=$event.target.value.toUpperCase()">
          <div [hidden]="nome.valid || nome.pristine" class="alert alert-danger">
            Nome do Grupo é obrigatório!
          </div>      
        </div>
      </div>
    </div>

    <hr>

    <div class="row">
      <div class="form-group">   
        <div class="col-md-5">      
          <label>Nome da Categoria</label>
          <input class="form-control" type="text" required [(ngModel)]="categoria_grupo.nome"> 
          <!-- #inputdesc (input)="inputdesc.value=$event.target.value.toUpperCase()"> -->
        </div>
      </div>
    </div>


    <div class="row" style="margin-top: 15px;margin-bottom: 15px;">
      <button type="button" *ngIf="categoria_grupo.id == null || categoria_grupo.id == 0" class="btn btn-primary" (click)="setCategoriaGrupo(categoria_grupo)" style="float:left">Adicionar</button>
      <button type="button" *ngIf="categoria_grupo.id != null && categoria_grupo.id != 0" class="btn btn-primary" (click)="setCategoriaGrupo(categoria_grupo)" style="float:left">Alterar</button>
    </div>

    <div class="row">
      <div class="col-md-12" >
        <table class="table table-bordered" style="overflow-x: scroll;float: left">
          <thead>
            <tr class="active">
              <th style="width: 200px;"></th>
              <th style="width: 200px;">Categoria</th>
            </tr>
          </thead>
          <template ngFor let-ic [ngForOf]="grupo.categoriaGrupo" let-pos="index">
            <tbody>
              <tr>
                <div class="form-inline">
                  <td><button [disabled]="categoria_grupo.id != null && categoria_grupo.id != 0" style="margin-left: 10px;" type="button" class="btn btn-primary" (click)="editarCategoriaGrupo(ic)">Editar</button></td>
                  <td><button [disabled]="categoria_grupo.id != null && categoria_grupo.id != 0" style="margin-left: 5px;" type="button" class="btn btn-danger" (click)="confirmDialgExcluirCategoria(ic)">Excluir</button></td>
                </div>          
                <td style="width: 200px;"> <label>{{ic.nome}}</label></td>
              </tr>
            </tbody>
          </template>
        </table>
      </div>
    </div>

  </meu-panel>
</form>

<p-dialog header="Confirmação" [(visible)]="displayDialogExcluirCategoria" modal="modal" showEffect="fade">
  <p>Confirma a exclusão do registro?</p>
  <footer>
    <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
      <button type="button" class="btn btn-danger" icon="fa-close" (click)="displayDialogExcluirCategoria=false">Não</button>
      <button type="button" class="btn btn-success" icon="fa-check" (click)="excluir()">Sim</button>
    </div>
  </footer>
</p-dialog>