<form #componente_item_patrimonioForm="ngForm" >
	<meu-panel titulo="Componente Item Patrimônio" (clickSave)="salvar()" (clickClear)="limpar()" (clickBack)="voltar()" [habilita]="componente_item_patrimonioForm.form.valid" [temId]="componente_item_patrimonio.id" [mostrarVoltar]="false">          

		<div class="row">
			<div class="form-group">   
				<div class="col-md-10">   
					<div [ngClass]="{'alert alert-info': isSucesso}"  role="alert" *ngIf="isResposta">{{mensagem}}</div>    
					<label>Descrição</label>
					<input class="form-control" type="text" required [(ngModel)]="componente_item_patrimonio.descricao" ngControl="descricao" #descricao="ngForm" >
					<div [hidden]="descricao.valid || descricao.pristine" class="alert alert-danger">
						Descrição é obrigatório!
					</div>      
				</div>
			</div>
		</div>

	</meu-panel>
</form>