<form #componente_item_patrimonioForm="ngForm" >
  <meu-panel titulo="Componente Item Patrimônio" (clickSave)="salvar()" (clickClear)="limpar()" (clickBack)="voltar()" [habilita]="componente_item_patrimonioForm.form.valid" [temId]="componente_item_patrimonio.id">          

    <div class="row">
      <div class="form-group">   
        <div class="col-md-5">      
          <label>Descrição</label>
          <input class="form-control" type="text" required [(ngModel)]="componente_item_patrimonio.descricao" ngControl="descricao" #descricao="ngForm" #inputdesc (input)="inputdesc.value=$event.target.value.toUpperCase()">
          <div [hidden]="descricao.valid || descricao.pristine" class="alert alert-danger">
            descricao é obrigatório!
          </div>      
        </div>
        
        <div class="col-md-5">      
          <label>Observação</label>
          <input class="form-control" type="text" [(ngModel)]="componente_item_patrimonio.observacao" ngControl="observacao" #observacao="ngForm" #inputobs (input)="inputobs.value=$event.target.value.toUpperCase()">
        </div>
      </div>
    </div>
    
    <div class="row" style="margin-top: 20px;">
      <div class="form-group">   
        <div class="col-md-5">      
          <label>Número de Série</label>
          <input class="form-control" type="text" [(ngModel)]="componente_item_patrimonio.numeroSerie" ngControl="numeroSerie" #numeroSerie="ngForm" #inputserie (input)="inputserie.value=$event.target.value.toUpperCase()">
        </div>
        
        <div class="col-md-5">      
          <label>Descrição da Garantia</label>
          <input class="form-control" type="text"  [(ngModel)]="componente_item_patrimonio.descricaoGarantia" ngControl="descricaoGarantia" #descricaoGarantia="ngForm" 
          #inputgarantia (input)="inputgarantia.value=$event.target.value.toUpperCase()">
        </div>
      </div>
    </div>

    <div class="row" style="margin-top:20px">
      <div class="form-group">
        <div class="col-md-4">
          <label>Data Fim Garantia</label>
          <custom-date name="fimGarantia" [(ngModel)]="componente_item_patrimonio.fimGarantia" ngControl="fimGarantia" #fimGarantia="ngForm"></custom-date>
        </div>
      </div>
    </div>

  </meu-panel>
</form>