<form #patrimonioForm="ngForm" >
  <meu-panel titulo="Patrimônio" (clickSave)="salvar()" (clickClear)="limpar()" (clickBack)="voltar()" [habilita]="patrimonioForm.form.valid" [temId]="patrimonio.id">          

    <p-tabView> <!-- Principal -->
      <p-tabPanel header="Dados Principais" [selected]="true">

        <div class="row">
          <div class="form-group">   
            <div class="col-md-5">      
              <label>Nome</label>
              <input class="form-control" type="text" required [(ngModel)]="patrimonio.nome" ngControl="nome" #nome="ngForm" 
                #inputnome (input)="inputnome.value=$event.target.value.toUpperCase()">
              <div [hidden]="nome.valid || nome.pristine" class="alert alert-danger">
                Nome é obrigatório!
              </div>      
            </div>

            <div class="col-md-5">      
              <label>Observação</label>
              <input class="form-control" type="text" [(ngModel)]="patrimonio.observacao" ngControl="observacao" #observacao="ngForm" #inputobs (input)="inputobs.value=$event.target.value.toUpperCase()">
            </div>
          </div>

        </div>

        <div class="row" style="margin-top: 20px;">
          <div class="form-group">   
            <div class="col-md-5">      
              <label>Número da Etiqueta</label>
              <input class="form-control" type="text" required [(ngModel)]="patrimonio.numeroEtiqueta" ngControl="numeroEtiqueta" #numeroEtiqueta="ngForm" #inputetiqueta (input)="inputetiqueta.value=$event.target.value.toUpperCase()">
              <div [hidden]="numeroEtiqueta.valid || numeroEtiqueta.pristine" class="alert alert-danger">
                Número da Etiqueta é obrigatório!
              </div>  
            </div>

            <div class="col-md-5">      
              <label>Número Nota</label>
              <input class="form-control" type="text" [(ngModel)]="patrimonio.numeroNota" ngControl="numeroNota" #numeroNota="ngForm" #inputnota (input)="inputnota.value=$event.target.value.toUpperCase()">
            </div>
          </div>
        </div>

        <div class="row" style="margin-top: 20px;">
          <div class="form-group">   
            <div class="col-md-5">      
              <label>Número de Série</label>
              <input class="form-control" type="text" [(ngModel)]="patrimonio.numeroSerie" ngControl="numeroSerie" #numeroSerie="ngForm" #inputserie (input)="inputserie.value=$event.target.value.toUpperCase()">
            </div>

            <div class="col-md-5">      
              <label>Descrição da Garantia</label>
              <input class="form-control" type="text" [(ngModel)]="patrimonio.descricaoGarantia" ngControl="descricaoGarantia" #descricaoGarantia="ngForm" #inputgarantia (input)="inputgarantia.value=$event.target.value.toUpperCase()">
            </div>
          </div>
        </div>

        <div class="row" style="margin-top:20px">
          <div class="form-group">

            <div class="col-md-3">
              <label>Unidade de Medida</label> 

              <select class="form-control" required validateNotEqual [(ngModel)]="idUnidade" ngControl="unidade" #unidade="ngForm">
                <option *ngFor="let unidade of listaUnidades" [value]="unidade.value">{{unidade.label}}</option>
              </select>

              <div [hidden]="unidade.valid || unidade.pristine" class="alert alert-danger">
                Unidade de Medida é obrigatório!
              </div>
            </div>

            <div class="col-md-3">
              <label>Situação do Bem</label> 

              <select class="form-control" required validateNotEqual [(ngModel)]="idSituacaoBem" ngControl="situacaoBem" #situacaoBem="ngForm">
                <option *ngFor="let situacaoBem of listaSituacoesBens" [value]="situacaoBem.value">{{situacaoBem.label}}</option>
              </select>

              <div [hidden]="situacaoBem.valid || situacaoBem.pristine" class="alert alert-danger">
                Situação do Bem é obrigatório!
              </div>
            </div>

            <div class="col-md-3">
              <label>Tipo de Incorporação</label> 

              <select class="form-control" required validateNotEqual [(ngModel)]="idTipoIncorporacao" ngControl="tipoIncorporacao" #tipoIncorporacao="ngForm">
                <option *ngFor="let tipoIncorporacao of listaTiposIncorporacoes" [value]="tipoIncorporacao.value">{{tipoIncorporacao.label}}</option>
              </select>

              <div [hidden]="tipoIncorporacao.valid || tipoIncorporacao.pristine" class="alert alert-danger">
                Tipo de Incorporação é obrigatório!
              </div>
            </div>


          </div>
        </div>

        <div class="row" style="margin-top:20px">
          <div class="form-group">
<!--             <div class="col-md-4">
              <label>Data Nota</label>
              <custom-date name="dataNota" [(ngModel)]="patrimonio.dataNota" ngControl="dataNota" #dataNota="ngForm"></custom-date>
            </div>

            <div class="col-md-4">
              <label>Data de Incorporação</label>
              <custom-date name="dataIncorporacao" [(ngModel)]="patrimonio.dataIncorporacao" ngControl="dataIncorporacao" #dataIncorporacao="ngForm"></custom-date>
            </div> -->

            <div class="col-md-4">
              <label>Data Fim Garantia</label>
              <custom-date name="fimGarantia" [(ngModel)]="patrimonio.fimGarantia" ngControl="fimGarantia" #fimGarantia="ngForm"></custom-date>
            </div>

          </div>
        </div>

        <div class="row" style="margin-top:10px;">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-6">
                <label>Departamento:</label>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <p-dropdown class="bootstrap-iso"  id="departamento" [options]="listaDepartamento" [(ngModel)]="idDepartamento"
                validateNotEqual
                ngControl="departamento" #departamento="ngForm"
                required
                [filter]="true" [style]="{'width':'250px'}" ></p-dropdown>
                <a type="button" class="inset btn-primary" (click)="showDialogDepartamento()">Novo</a>
              </div>
            </div>
          </div>
        </div>

        <div class="row" style="margin-top:10px;">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-6">
                <label>Categoria do Bem:</label>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <p-dropdown class="bootstrap-iso"  id="grupoBem" [options]="listaGrupoBem" [(ngModel)]="idGrupoBem"
                validateNotEqual
                ngControl="grupo_bem" #grupo_bem="ngForm"
                required
                [filter]="true" [style]="{'width':'250px'}" ></p-dropdown>
                <a type="button" class="inset btn-primary" (click)="showDialogGrupoBem()">Novo</a>
              </div>
            </div>
          </div>
        </div>

        <div class="row" style="margin-top:20px">
          <div class="form-group">
            <div class="col-md-3">
              <label>Valor do Bem:</label>
              <custom-input [(ngModel)]="patrimonio.valor" mask="currency"></custom-input>
            </div>
          </div>
        </div>
      </p-tabPanel>

      <p-tabPanel header="Componente Item Patrimônio">

        <div class="row">
          <div class="form-group">   
            <div class="col-md-5">      
              <label>Descrição</label>
              <input class="form-control" type="text" required [(ngModel)]="componente_item_patrimonio.descricao" 
                #inputdesc (input)="inputdesc.value=$event.target.value.toUpperCase()">
            </div>

            <div class="col-md-5">      
              <label>Observação</label>
              <input class="form-control" type="text" [(ngModel)]="componente_item_patrimonio.observacao" 
                #inputobs2 (input)="inputobs2.value=$event.target.value.toUpperCase()">
            </div>
          </div>
        </div>

        <div class="row" style="margin-top: 20px;">
          <div class="form-group">   
            <div class="col-md-5">      
              <label>Número de Série</label>
              <input class="form-control" type="text" [(ngModel)]="componente_item_patrimonio.numeroSerie" 
                #inputserie2 (input)="inputserie2.value=$event.target.value.toUpperCase()">
            </div>

            <div class="col-md-5">      
              <label>Descrição da Garantia</label>
              <input class="form-control" type="text" [(ngModel)]="componente_item_patrimonio.descricaoGarantia"
              #inputdescgar (input)="inputdescgar.value=$event.target.value.toUpperCase()">
            </div>
          </div>
        </div>

        <div class="row" style="margin-top:20px">
          <div class="form-group">
            <div class="col-md-4">
              <label>Data Fim Garantia</label>
              <custom-date name="fimGarantia" [(ngModel)]="componente_item_patrimonio.fimGarantia"></custom-date>
            </div>
          </div>
        </div>

        <div class="row" style="margin-top: 15px;margin-bottom: 15px;">
          <button type="button" *ngIf="componente_item_patrimonio.id == null || componente_item_patrimonio.id == 0" class="btn btn-primary" (click)="setComponenteItemPatrimonio(componente_item_patrimonio)" style="float:left">Adicionar</button>
          <button type="button" *ngIf="componente_item_patrimonio.id != null && componente_item_patrimonio.id != 0" class="btn btn-primary" (click)="setComponenteItemPatrimonio(componente_item_patrimonio)" style="float:left">Alterar</button>
        </div>
        
        <div class="row">
          <div class="col-md-12" >
            <table class="table table-bordered" style="overflow-x: scroll;float: left">
              <thead>
                <tr class="active">
                  <th style="width: 200px;"></th>
                  <th style="width: 200px;">Descrição</th>
                  <th style="width: 200px;">Número de Série</th>
                  <th style="width: 200px;">Fim Garantia</th>
                  <th style="width: 200px;">Descrição Garantia</th>
                </tr>
              </thead>
              <template ngFor let-ic [ngForOf]="patrimonio.componenteItemPatrimonio" let-pos="index">
                <tbody>
                  <tr>
                    <div class="form-inline">
                    <td><button [disabled]="componente_item_patrimonio.id != null && componente_item_patrimonio.id != 0" style="margin-left: 10px;" type="button" class="btn btn-primary" (click)="editarComponenteItemPatrimonio(ic)">Editar</button></td>
                      <td><button [disabled]="componente_item_patrimonio.id != null && componente_item_patrimonio.id != 0" style="margin-left: 5px;" type="button" class="btn btn-danger" (click)="confirmDiolgExcluirComponente(ic)">Excluir</button></td>
                    </div>          
                    <td style="width: 200px;"> <label>{{ic.descricao}}</label></td>
                    <td style="width: 200px;"> <label>{{ic.numeroSerie}}</label></td>
                    <td style="width: 200px;"> <label>{{ic.fimGarantia}}</label></td>
                    <td style="width: 200px;"> <label>{{ic.descricaoGarantia}}</label></td>
                  </tr>
                </tbody>
              </template>
            </table>
          </div>
        </div>
      </p-tabPanel>

    </p-tabView>
  </meu-panel>
</form>

<p-dialog header="" [(visible)]="mostrarDialogDepartamento" modal="modal" showEffect="fade" closable="false" width="500" height="400">

  <departamento-dialog></departamento-dialog>
  <center>
    <button class="btn btn-danger" (click)="closeDialogDepartamento()">Fechar</button>
  </center>
</p-dialog>

<p-dialog header="" [(visible)]="mostrarDialogGrupoBem" modal="modal" showEffect="fade" closable="false" width="700" height="550">

  <grupo_bem-dialog></grupo_bem-dialog>
  <center>
    <button class="btn btn-danger" (click)="closeDialogGrupoBem()">Fechar</button>
  </center>
</p-dialog>

<p-dialog header="Confirmação" [(visible)]="displayDialogExcluirComponente" modal="modal" showEffect="fade">
  <p>Confirma a exclusão do registro?</p>
  <footer>
    <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
      <button type="button" class="btn btn-danger" icon="fa-close" (click)="displayDialogExcluirComponente=false">Não</button>
      <button type="button" class="btn btn-success" icon="fa-check" (click)="excluir()">Sim</button>
    </div>
  </footer>
</p-dialog>