<form name="patrimonioForm" >
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">Patrimônios</div>
			<div class="panel-body"> 

				<div class="row" >
					<div class="col-md-3">      
						<div class="form-group">   
							<label>Filtrar por Número da Etiqueta</label>
							<input class="form-control" id="numeroEtiqueta" type="text"  (change)="listarPorFiltros(idDepartamentoSelecionado, idGrupoBemSelecionado, numeroEtiqueta, nome, numeroNota, fimGarantia, idSituacaoBemSelecionado)" [(ngModel)]="numeroEtiqueta"
							#inputetiqueta (input)="inputetiqueta.value=$event.target.value.toUpperCase()">      
						</div>
					</div>

					<div class="col-md-6">      
						<div class="form-group">   
							<label>Filtrar por Nome</label>
							<input class="form-control" id="nome" type="text"  (change)="listarPorFiltros(idDepartamentoSelecionado, idGrupoBemSelecionado, numeroEtiqueta, nome, numeroNota, fimGarantia, idSituacaoBemSelecionado)" [(ngModel)]="nome" #inputnome (input)="inputnome.value=$event.target.value.toUpperCase()"> 
						</div>
					</div>

					<div class="col-md-3">
						<div class="form-group">   
							<label>Filtrar por Número Nota</label>
							<input class="form-control" id="numeroNota" type="text"  (change)="listarPorFiltros(idDepartamentoSelecionado, idGrupoBemSelecionado, numeroEtiqueta, nome, numeroNota, fimGarantia, idSituacaoBemSelecionado)" [(ngModel)]="numeroNota" 
							#inputnota (input)="inputnota.value=$event.target.value.toUpperCase()">
						</div>
					</div>
				</div>



				<div class="row" style="margin-top:10px">
					<div class="col-md-3">
						<label>Filtrar por Data Fim Garantia</label>
						<custom-date id="fimGarantia" (change)="listarPorFiltros(idDepartamentoSelecionado, idGrupoBemSelecionado, numeroEtiqueta, nome, numeroNota, fimGarantia, idSituacaoBemSelecionado)" [(ngModel)]="fimGarantia"></custom-date>
					</div>
					<div class="col-md-4">
						<label >Filtrar por Departamento</label>
						<p-dropdown class="bootstrap-iso" id="departamento" style="margin-left: 10px;" [options]="listaDepartamento" [(ngModel)]="idDepartamentoSelecionado"
						[filter]="true" [style]="{'width':'250px'}" (onChange)="listarPorFiltros(idDepartamentoSelecionado, idGrupoBemSelecionado, numeroEtiqueta, nome, numeroNota, fimGarantia, idSituacaoBemSelecionado)"></p-dropdown>
					</div>

					<div class="col-md-3">
						<label >Filtrar por Grupo Bem</label>
						<p-dropdown class="bootstrap-iso" id="grupoBem" style="margin-left: 10px;" [options]="listaGrupoBem" [(ngModel)]="idGrupoBemSelecionado"
						[filter]="true" [style]="{'width':'250px'}" (onChange)="listarPorFiltros(idDepartamentoSelecionado, idGrupoBemSelecionado, numeroEtiqueta, nome, numeroNota, fimGarantia, idSituacaoBemSelecionado)"></p-dropdown>
					</div>
				</div>

				<div class="row" style="margin-top:10px; margin-bottom: 10px;">
					<div class="col-md-5" >
						<div class="form-group">   
							<label>Situação do Bem</label>
							<p-dropdown class="bootstrap-iso" id="situacaoBem" style="margin-left: 10px;" [options]="listaSituacoesBens" [(ngModel)]="idSituacaoBemSelecionado"
							[filter]="true" [style]="{'width':'250px'}" (onChange)="listarPorFiltros(idDepartamentoSelecionado, idGrupoBemSelecionado, numeroEtiqueta, nome, numeroNota, fimGarantia, idSituacaoBemSelecionado)"></p-dropdown>
						</div>
					</div>
				</div>

				<p-dataTable [value]="paginacao.entradas" [totalRecords]="paginacao.totalEntradas" [rows]="10" [pageLinks]="3" [rowsPerPageOptions]="[10,20,25]"  [lazy]="true" [paginator]="true" (onLazyLoad)="load($event)" >
				<header>Lista de Patrimonios</header>
				<p-column [hidden]="!_loginService.getPermissao().editar && !_loginService.getPermissao().excluir">
				<template let-emp="rowData">
					<div class="form-inline">
						<button *ngIf="_loginService.getPermissao().editar" type="button" class="btn btn-primary" (click)="editar(emp.id)">Editar</button>
						<button *ngIf="_loginService.getPermissao().excluir" type="button" class="btn btn-danger" (click)="confirmDiolgExcluir(emp.id)">Excluir</button>
					</div>
				</template>
			</p-column>
			<p-column header="Código" field="id" >

		</p-column>
		<p-column header="Número da Etiqueta" field="numeroEtiqueta" >

	</p-column>
	<p-column header="Nome" field="nome" >

</p-column>

<p-column header="Valor do Bem" >
	<template let-pat="rowData">
		{{pat.valor| MoneyPipe}} 
	</template>
</p-column>
</p-dataTable>
</div>
<button *ngIf="_loginService.getPermissao().inserir" type="button" class="btn btn-primary" (click)="novo()" style="float:left">Adicionar</button>
</div>
</div>
</form>

<p-dialog header="Confirmação" [(visible)]="displayDialogExcluir" modal="modal" showEffect="fade">
<p>Confirma a exclusão do registro?</p>
<footer>
	<div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
		<button type="button" class="btn btn-danger" icon="fa-close" (click)="displayDialogExcluir=false">Não</button>
		<button type="button" class="btn btn-success" icon="fa-check" (click)="excluir(true)">Sim</button>
	</div>
</footer>
</p-dialog>

<p-dialog header="Confirmação" [(visible)]="displayDialogExcluirPatrimonioViculoPatrimonio" modal="modal" showEffect="fade">
<p>Patrimonio está vinculado a um Patrimônio. Confirma a exclusão do registro?</p>
<footer>
	<div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
		<button type="button" class="btn btn-danger" icon="fa-close" (click)="displayDialogExcluirPatrimonioViculoPatrimonio=false">Não</button>
		<button type="button" class="btn btn-success" icon="fa-check" (click)="excluir(false)">Sim</button>
	</div>
</footer>
</p-dialog>