<form #localForm="ngForm" >
  <meu-panel titulo="Local" (clickSave)="salvar()" (clickClear)="limpar()" (clickBack)="voltar()" [habilita]="localForm.form.valid" [temId]="local.id">          

  <div class="row">
    <div class="form-group">   
      <div class="col-md-5">      
        <label>Nome</label>
        <input class="form-control" type="text" required [(ngModel)]="local.nome" ngControl="nome" #nome="ngForm" 
          #inputnome (input)="inputnome.value=$event.target.value.toUpperCase()">
        <div [hidden]="nome.valid || nome.pristine" class="alert alert-danger">
          Nome é obrigatório!
        </div>      
      </div>
    </div>
  </div>
</meu-panel>
</form>