<p-growl [value]="_mensagemService.msgs"></p-growl>
<div [ngSwitch]="_loginService.isLogged()">
	<template [ngSwitchWhen]="true">
		<menu-lateral></menu-lateral>

		<div class="row" style="margin-top: 5px;">
			<div class="col-md-9">
				<router-outlet></router-outlet>
			</div>
		</div>
	</template>
	<template ngSwitchDefault>
		<router-outlet></router-outlet>
	</template>
</div>