<md-content class="md-padding" layout="row" layout-wrap layout-align="center start">
    <div class="row">
        <div class="col-lg-3 col-md-6" *ngIf="quantidadeProdutoEstoqueBaixo > 0">
            <div class="panel panel-b3-blue">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-comments fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{quantidadeProdutoEstoqueBaixo}}</div>
                            <div>Produtos com estoque baixo</div>
                        </div>
                    </div>
                </div>
                <a >
                    <div class="panel-footer">
                        <span class="pull-left"><a class="color-txt-b3" [routerLink]="['/produto-estoque-baixo']">Ver Detalhes</a></span>                        
                        <span class="pull-right"><a class="color-txt-b3" [routerLink]="['/produto-estoque-baixo']"><i class="fa fa-arrow-right"></i></a></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-lg-3 col-md-6" *ngIf="quantidadeCotacoesRespondidas > 0">
            <div class="panel panel-b3-green">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-tasks fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{quantidadeCotacoesRespondidas}}</div>
                            <div>Cotações Respondidas</div>
                        </div>
                    </div>
                </div>
                <a>
                    <div class="panel-footer">
                        <span class="pull-left"><a class="color-txt-b3" [routerLink]="['/cotacao-respondidas']">Ver Detalhes</a></span>
                         <span class="pull-right"><a class="color-txt-b3" [routerLink]="['/cotacao-respondidas']"><i class="fa fa-arrow-right"></i></a></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
       
        <div class="col-lg-3 col-md-6" *ngIf="quantidadeSolicitacoesAbertas > 0">
            <div class="panel panel-b3-yellow">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-table fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{quantidadeSolicitacoesAbertas}}</div>
                            <div>Solicitações 'Em Aberto'</div>
                        </div>
                    </div>
                </div>
                 <a >
                    <div class="panel-footer">
                        <span class="pull-left"><a class="color-txt-b3" [routerLink]="['/solicitacao-list-em-aberto']">Ver Detalhes</a></span>                        
                        <span class="pull-right"><a class="color-txt-b3" [routerLink]="['/solicitacao-list-em-aberto']"><i class="fa fa-arrow-right"></i></a></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>

        <!--div class="col-lg-3 col-md-6">
            <div class="panel panel-b3-red">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-support fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">13</div>
                            <div>Cotações recebidas do dia</div>
                        </div>
                    </div>
                </div>
                <a href="#">
                    <div class="panel-footer">
                        <span class="pull-left">Ver Detalhes</span>
                        <span class="pull-right"><i class="fa fa-arrow-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div-->
    </div>
</md-content>
<center style="margin-top: 15px;">
    <div class="row">
        <div class="col-md-8 col-lg-7 center">
            <!-- <p-barChart [value]="data" width="640" height="320" responsive="true"></p-barChart> -->
        </div>
    </div>
</center>