<div class="row">
	<div [class]="getCol()" >  
		<div class="panel panel-default">
			<div class="panel-heading">{{titulo}}</div>
			<div class="panel-body"> 
				<ng-content></ng-content>

				<div style="margin-top: 30px;">
					<div [class]="getCol()">  
						<center>
							<button [disabled]="!habilita" class="btn btn-primary" (click)="salvar()">Salvar</button>
							<button class="btn btn-default" (click)="limpar()">Limpar</button>	
							<button *ngIf="mostrarVoltar" class="btn btn-warning" (click)="voltar()">Voltar</button>
						</center>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
