<form [ngFormModel]="alterarSenhaForm">
  <meu-panel titulo="Alterar Senha" (clickSave)="salvar()" (clickClear)="limpar()" (clickBack)="voltar()" [habilita]="alterarSenhaForm.valid" col="8" [temId]="_loginService.user.id">          


    <div class="row" style="margin-left: 10px;">
      <div class="form-group">   
        <div class="row">
          <label class="col-md-5">Nova senha</label>
        </div>
        <div class="row">
          <div class="col-md-5">
            <input type="password" class="form-control" [(ngModel)]="novaSenha" ngControl="novasenha"  >
          </div>
        </div>
        <div class="row" style="margin-top: 10px;">
          <label class="col-md-5">Repetir senha</label>
        </div>

        <div class="row">
          <div class="col-md-5">
            <input type="password" class="form-control" ngControl="repetirsenha" [(ngModel)]="repetirSenha">
          </div>  
        </div>
      </div>  
    </div>

  </meu-panel>
</form>