<form #qualidadeForm="ngForm">
 <meu-panel titulo="Qualidade" (clickSave)="salvar()"
 (clickClear)="limpar()" (clickBack)="voltar()"
 [habilita]="qualidadeForm.form.valid && isPodeSalvar" [temId]="qualidade.id">

 <p-tabView> <!-- Principal -->
  <p-tabPanel header="Dados Principais" [selected]="true">

   <div class="class-md-12">
    <div class="row">
      <div class="col-md-12">

        <div class="row" style="margin-top:10px">
          <div class="col-md-4"> 
            <label>Registro</label>
            <div class="radio">
              <label>
                <input type="radio" name="registro" [ngModel]="{checked: qualidade.registro == 1}" (ngModelChange)="qualidade.registro=1" value="1">
                Não Conformidade
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="registro" [ngModel]="{checked: qualidade.registro == 2}" (ngModelChange)="qualidade.registro=2" value="2">
                Oportunidade de Melhoria
              </label>
            </div>
          </div>

          <div class="col-md-4"> 
            <label>Origem</label>
            <div class="radio">
              <label>
                <input type="radio" name="origem" [ngModel]="{checked: qualidade.origem == 1}" (ngModelChange)="qualidade.origem=1" value="1">
                Fornecedor
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="origem" [ngModel]="{checked: qualidade.origem == 2}" (ngModelChange)="qualidade.origem=2" value="2">
                Cliente
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="origem" [ngModel]="{checked: qualidade.origem == 3}" (ngModelChange)="qualidade.origem=3" value="3">
                Processo
              </label>
            </div>
          </div>
        </div> 

        <div class="row" style="margin-top: 10px">

          <div class="col-md-3">
            <label>Autor</label> 

            <select class="form-control" [disabled]="true" [(ngModel)]="idAutor" ngControl="autor" #autor="ngForm">
             <option *ngFor="let autor of listaAutor" [value]="autor.value">{{autor.label}}</option>
           </select>

           <div [hidden]="autor.valid || autor.pristine" class="alert alert-danger">
             Autor é obrigatório!
           </div>
         </div>

         <div class="col-md-4">
          <label>Data</label>
          <custom-date name="criacao" [disabled]="true" [(ngModel)]="qualidade.criacao" ngControl="criacao" #criacao="ngForm"></custom-date>
        </div>
      </div>

      <div class="row">
       <div class="col-md-3">
        <label>Empresa</label> <select class="form-control"
        required
        [(ngModel)]="idEmpresa"
        validateNotEqual
        (ngModelChange)="listarComboPorIdEmpresa()"
        ngControl="empresa" #empresa="ngForm">
        <option *ngFor="let emp of listaEmpresa" [value]="emp.value">{{emp.label}}</option>
      </select>
      <div [hidden]="empresa.valid || empresa.pristine"
      class="alert alert-danger">Empresa é obrigatório!</div>
    </div>

    <div class="col-md-3">
     <label>Núcleo</label> 
     <select class="form-control" [disabled]="idEmpresa == 0" [(ngModel)]="idNucleo">
      <option *ngFor="let nuc of listaNucleo" [value]="nuc.value">{{nuc.label}}</option>
    </select>
  </div>
</div>

<div class="row" style="margin-top:10px">
 <div class="col-md-9">   
  <label>Identificação</label>
  <textarea class="form-control" [(ngModel)]="qualidade.identificacao" ngControl="identificacao" 
    #inputid (input)="inputid.value=$event.target.value.toUpperCase()"></textarea>
</div>
</div>

<div class="row" style="margin-top:10px">
 <div class="col-md-9">   
  <label>Análise de Causa</label>
  <textarea class="form-control" [(ngModel)]="qualidade.analise_causa" ngControl="analise_causa"
    #inputanalisecausa (input)="inputanalisecausa.value=$event.target.value.toUpperCase()"></textarea>
</div>
</div>

<div class="row" style="margin-top:10px">
 <div class="col-md-9">   
  <label>Ação Imediata</label>
  <textarea class="form-control" [(ngModel)]="qualidade.acao_imediata" ngControl="acao_imediata"
    #inputimediata (input)="inputimediata.value=$event.target.value.toUpperCase()"></textarea>
</div>
</div>

<div class="row" style="margin-top:10px">
 <div class="col-md-9">   
  <label>Ação Preventiva/Corretiva</label>
  <textarea class="form-control" [(ngModel)]="qualidade.acao_preventiva" ngControl="acao_preventiva"
    #inputcorretiva (input)="inputcorretiva.value=$event.target.value.toUpperCase()"></textarea>
</div>
</div>

<div class="row" style="margin-top:10px">
  <div class="col-md-4"> 
    <label>Auditoria</label>
    <div class="radio">
      <label>
        <input type="radio" name="auditoria" [ngModel]="{checked: qualidade.auditoria == 1}" (ngModelChange)="qualidade.auditoria=1" value="1">
        Solucionado
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="auditoria" [ngModel]="{checked: qualidade.auditoria == 2}" (ngModelChange)="qualidade.auditoria=2" value="2">
        Não Solucionado
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="auditoria" [ngModel]="{checked: qualidade.auditoria == 3}" (ngModelChange)="qualidade.auditoria=3" value="3">
        Nova Auditoria
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="auditoria" [ngModel]="{checked: qualidade.auditoria == 4}" (ngModelChange)="qualidade.auditoria=4" value="4">
        Abrir Novo Registro
      </label>
    </div>

  </div>
</div> 

<div class="row" style="margin-top:10px">
 <div class="col-md-9">   
  <label>Avaliação da Eficácia</label>
  <textarea class="form-control" [(ngModel)]="qualidade.avaliacao_eficacia" ngControl="avaliacao_eficacia"
    #inputav (input)="inputav.value=$event.target.value.toUpperCase()"></textarea>
</div>
</div>

</div>
</div>
</div>

</p-tabPanel>
</p-tabView>

</meu-panel>
</form>