.ui-dropdown {
	top: 10px;
}

.ui-dropdown .ui-dropdown-trigger{
	padding: 0 7px;
	box-sizing: initial;
}

.ui-inputswitch{
	height: 28px
}

.ui-inputswitch .ui-inputswitch-on, .ui-inputswitch .ui-inputswitch-off{
	height: 27;
}

.ui-inputswitch .ui-inputswitch-handle{
	height: 28;
}

.checkbox input[type=checkbox], input[type=radio]{
	width: 17px;
	height: 17px;
}