.nav-stacked>li{
  padding:  7px 15px
}

.nav-stacked>div>li{
  padding:  15px 15px;
  float: none;
}

.menu-b3{
  padding-left: 0px;
}

.color-vitae{
  background-color: #9c96c9 !important;
}

.color-txt-b3{
  color: #868686;
}

.md-toolbar {
  background-color: #9c96c9 !important;
}

[md-fab].md-vitae{
  color: white;
  /*background-color: #43b78f;*/
  background-color: #0e8ed1;
}

.md-input-focused label {
  color:  #9c96c9 !important;
}

.md-input-focused .md-input {
  border-color:  #9c96c9 !important;
}

.btn-floating {
  display: inline-block;
  color: #fff;
  position: relative;
  overflow: hidden;
  z-index: 1;
  width: 37px;
  height: 37px;
  line-height: 37px;
  padding: 0;
  background-color: #26a69a;
  border-radius: 50%;
  transition: .3s;
  cursor: pointer;
  vertical-align: middle;
}

.btn-floating i {
  width: inherit;
  display: inline-block;
  text-align: center;
  color: #fff;
  font-size: 1.6rem;
  line-height: 37px;
}

.btn-floating:hover {
  background-color: #26a69a;
}

.btn-floating:before {
  border-radius: 0;
}

.btn-floating.btn-large {
  width: 55.5px;
  height: 55.5px;
}

.btn-floating.btn-large i {
  line-height: 55.5px;
}

button.btn-floating {
  border: none;
}

.fixed-action-btn {
  position: fixed;
  right: 23px;
  bottom: 23px;
  padding-top: 15px;
  margin-bottom: 0;
  z-index: 998;
}

.fixed-action-btn.active ul {
  visibility: visible;
}

.fixed-action-btn.horizontal {
  padding: 0 0 0 15px;
}

.fixed-action-btn.horizontal ul {
  text-align: right;
  right: 64px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 100%;
  left: auto;
  width: 500px;
  /*width 100% only goes to width of button container */
}

.fixed-action-btn.horizontal ul li {
  display: inline-block;
  margin: 15px 15px 0 0;
}

.fixed-action-btn ul {
  left: 0;
  right: 0;
  text-align: center;
  position: absolute;
  bottom: 64px;
  margin: 0;
  visibility: hidden;
}

.fixed-action-btn ul li {
  margin-bottom: 15px;
}

.fixed-action-btn ul a.btn-floating {
  opacity: 0;
}

.huge {
  font-size: 40px;
}

.panel-b3-blue {
  border-color: #ddd;
}

.panel-b3-blue .panel-heading {
  border-color: #ddd;
  color: #337ab7;
  background-color:#f5f5f5;
}

.panel-b3-blue a {
  color: #337ab7;
}

.panel-b3-blue a:hover {
  color: #337ab7;
}

.panel-b3-green {
  border-color: #ddd;
}

.panel-b3-green .panel-heading {
  border-color: #ddd;
  color: #5cb85c;
  background-color:#f5f5f5;
}

.panel-b3-green a {
  color: #5cb85c;
}

.panel-b3-green a:hover {
  color: #3d8b3d;
}

.panel-b3-yellow {
  border-color: #ddd;
}

.panel-b3-yellow .panel-heading {
  border-color: #ddd;
  color: #f0ad4e;
  background-color:#f5f5f5;
}

.panel-b3-yellow a {
  color: #f0ad4e;
}

.panel-b3-yellow a:hover {
  color: #df8a13;
}

.panel-b3-red {
  border-color: #ddd;
}

.panel-b3-red .panel-heading {
  border-color: #ddd;
  color: #d9534f;
  background-color:#f5f5f5;
}

.panel-b3-red a {
  color: #d9534f;
}

.panel-b3-red a:hover {
  color: #b52b27;
}

.inset{
  display:inline-block;
  width:40px;
  height:40px;
  border-radius:50px;
  font-size:13px;
  line-height:40px;
  text-shadow:0 1px 0 #666;
  text-align:center;
  cursor: pointer;
  text-decoration:none;
  box-shadow:1px 1px 2px #000;
  opacity:0.95
}

.inset-b3-blue a {
  color: #fff;
  background-color:#337ab7;
}

.inset-b3-blue a:hover {
  color: #337ab7;
  cursor: pointer;
}

.inset:hover{
  text-shadow:0 0 1px #666;
  text-decoration:none;
  box-shadow:0 0 4px #222 inset;
  opacity:1
}

.menu{
  display:inline-block;
  width:50px;
  height:50px;
  border-radius:50px;
  font-size:15px;
  color:#fff;
  line-height:50px;
  text-align:center;
  text-decoration:none;
  background:#000
}

.menu:hover{
  color:#ccc;
  text-decoration:none;
  background:#333
}

.table th {
 text-align: center;   
}

.table td {
 text-align: center;   
}

.table th.titulo {
 text-align: left;   
}

.table td.titulo {
 text-align: left;   
}

.fa-check{
  font-size: 12px;
}

.ng-valid[required] {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid {
  border-left: 5px solid #a94442; /* red */
}