<form #fabricanteForm="ngForm" >
	<meu-panel titulo="Fabricante" (clickSave)="salvar()" (clickClear)="limpar()" (clickBack)="voltar()" [habilita]="fabricanteForm.form.valid" [temId]="fabricante.id" [mostrarVoltar]="false">          

		<div class="row">
			<div class="form-group">   
				<div class="col-md-10">   
					<div [ngClass]="{'alert alert-info': isSucesso}"  role="alert" *ngIf="isResposta">{{mensagem}}</div>    
					<label>Nome</label>
					<input class="form-control" type="text" required [(ngModel)]="fabricante.nome" ngControl="nome" #nome="ngForm" #input (input)="input.value=$event.target.value.toUpperCase()">
					<div [hidden]="nome.valid || nome.pristine" class="alert alert-danger">
						Nome é obrigatório!
					</div>      
				</div>
			</div>
		</div>

	</meu-panel>
</form>